<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Finance EA Perspective</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Finance EA Perspective</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/3da01594-9d28-4658-b321-7896cc288ea9.png" alt="Finance EA Perspective" usemap="#3da01594-9d28-4658-b321-7896cc288ea9map"/>
			   <map name="3da01594-9d28-4658-b321-7896cc288ea9map">
				  				<area shape="rect" coords="1502,848,1742,922" href="../elements/16e2601d-d71f-46bd-9cdb-0a04cd99779f.html"  target="element">

				  		<area shape="rect" coords="1454,800,1756,946" href="../elements/id-bac872a4db0b4ee09a3f4447dc8c3129.html"  target="element">
				  				<area shape="rect" coords="1172,1640,1390,1714" href="../elements/id-529613a1b4534d62ac93cc1c4582cb04.html"  target="element">

				  		<area shape="rect" coords="1124,1568,1414,1738" href="../elements/id-e76ae219f3f349c599d8f3ebdb99be27.html"  target="element">
				  				<area shape="rect" coords="500,1616,740,1714" href="../elements/id-b95b7b9fa6b74670ba5285b04978b7e9.html"  target="element">

				  		<area shape="rect" coords="452,1568,776,1738" href="../elements/id-dbe1a292129648d0b74f07c0e907ee58.html"  target="element">
				  				<area shape="rect" coords="812,68,1052,142" href="../elements/id-20e7f85b68b64810bc1e84c5e712ca43.html"  target="element">

				  		<area shape="rect" coords="740,20,1102,166" href="../elements/id-8f436efcb4f0409e9bbbce9e81b1af51.html"  target="element">
				  				<area shape="rect" coords="1508,68,1748,166" href="../elements/id-afa3f0c854814287b474f113ac11bbcf.html"  target="element">

				  		<area shape="rect" coords="1436,20,1774,190" href="../elements/id-8f53096faf554efbbacdceac6ec38918.html"  target="element">
				  				<area shape="rect" coords="1500,1616,1716,1690" href="../elements/2b1e9b7d-1623-4224-bea3-70dcb001ba64.html"  target="element">

				  		<area shape="rect" coords="1452,1568,1758,1738" href="../elements/b2f7529f-11d9-4fe7-920b-e33d040e59e5.html"  target="element">
				  				<area shape="rect" coords="92,80,332,154" href="../elements/id-9033dd67dde945658b7bd31ef356348a.html"  target="element">

				  		<area shape="rect" coords="20,32,370,178" href="../elements/id-0c296c59041a4d29af428a09df0e12a7.html"  target="element">
				  				<area shape="rect" coords="106,1616,346,1726" href="../elements/ac5b8bf9-04ff-4097-a021-266bb02d8f1b.html"  target="element">

				  		<area shape="rect" coords="58,1568,370,1738" href="../elements/b4934421-d271-402c-9897-aed221561d9c.html"  target="element">
				  				<area shape="rect" coords="118,1280,358,1390" href="../elements/15fb4558-dd4e-484b-b2ac-e66600562982.html"  target="element">

				  		<area shape="rect" coords="46,1232,382,1402" href="../elements/id-d913218628904b90ad9d4cd2503b6e24.html"  target="element">
				  				<area shape="rect" coords="1496,1268,1736,1378" href="../elements/85921317-4d32-4771-aadd-73065874cb5b.html"  target="element">

				  		<area shape="rect" coords="1448,1220,1764,1414" href="../elements/id-570034bc9b7f4810a171462ecd5ef709.html"  target="element">
				  				<area shape="rect" coords="80,656,320,754" href="../elements/85921317-4d32-4771-aadd-73065874cb5b.html"  target="element">

				  		<area shape="rect" coords="32,608,346,778" href="../elements/id-407a9aed0a8a4bc3a88a47f5a29f65db.html"  target="element">
				  				<area shape="rect" coords="1508,488,1748,574" href="../elements/f43cdf67-f287-45f6-8872-8ed2e7896aec.html"  target="element">

				  		<area shape="rect" coords="1436,416,1774,586" href="../elements/75a8e749-7599-4b44-bd83-f793ef4a9126.html"  target="element">
				  				<area shape="rect" coords="1490,656,1730,766" href="../elements/23efcb22-df24-41e2-a59e-8b5451a7a1d8.html"  target="element">

				  		<area shape="rect" coords="1442,608,1768,778" href="../elements/76a83ef7-c781-4e97-bf06-237d4668500a.html"  target="element">
				  				<area shape="rect" coords="74,464,314,574" href="../elements/db27312b-3329-40f0-bf5a-790a41d9c9fa.html"  target="element">

				  		<area shape="rect" coords="26,416,364,586" href="../elements/7a7d7983-c0dc-4154-bbc8-1ef876015a8d.html"  target="element">
				  				<area shape="rect" coords="1508,1040,1748,1150" href="../elements/18fac483-a385-4f64-810d-81635ce5324e.html"  target="element">

				  		<area shape="rect" coords="1436,992,1774,1162" href="../elements/6180170d-3732-47a6-a63a-3c6f9235d402.html"  target="element">
				  				<area shape="rect" coords="116,1040,356,1150" href="../elements/b764b642-a59a-4324-8633-078cc54848bc.html"  target="element">

				  		<area shape="rect" coords="44,992,382,1162" href="../elements/376957f3-f87a-439e-a853-9148a2d9e8af.html"  target="element">
				  				<area shape="rect" coords="1508,272,1748,382" href="../elements/21d1af50-3289-40ea-bf65-597e283c10f3.html"  target="element">

				  		<area shape="rect" coords="1436,224,1774,394" href="../elements/3fe422dd-5740-40f5-973c-9cda9dd5d0b5.html"  target="element">
				  				<area shape="rect" coords="92,272,332,382" href="../elements/6e1780b7-2856-435e-ac39-888e34275395.html"  target="element">

				  		<area shape="rect" coords="20,224,358,394" href="../elements/0fd111fb-ab4a-4b50-b08b-25d7fb1fe0f5.html"  target="element">
				  				<area shape="rect" coords="812,1160,1052,1270" href="../elements/86f0c2ed-437c-43e5-b229-62038885f9ae.html"  target="element">
				  				<area shape="rect" coords="812,992,1052,1102" href="../elements/18fac483-a385-4f64-810d-81635ce5324e.html"  target="element">
				  				<area shape="rect" coords="812,848,1052,958" href="../elements/16e2601d-d71f-46bd-9cdb-0a04cd99779f.html"  target="element">
				  				<area shape="rect" coords="812,704,1052,814" href="../elements/b764b642-a59a-4324-8633-078cc54848bc.html"  target="element">
				  				<area shape="rect" coords="812,560,1052,670" href="../elements/e9952ec0-576d-434d-a541-84152eff850b.html"  target="element">
				  				<area shape="rect" coords="812,416,1052,526" href="../elements/21d1af50-3289-40ea-bf65-597e283c10f3.html"  target="element">
				  				<area shape="rect" coords="812,272,1052,382" href="../elements/8354a428-fb9f-4898-8b77-c48d09544c26.html"  target="element">

				  		<area shape="rect" coords="692,200,1150,1522" href="../elements/1052c537-23cd-4113-89e1-ddadf53b1c68.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/1052c537-23cd-4113-89e1-ddadf53b1c68.html" target="element"> Banner Finance </a> </td>
											    <td> <a href="../elements/1052c537-23cd-4113-89e1-ddadf53b1c68.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/8354a428-fb9f-4898-8b77-c48d09544c26.html" target="element"> Accounts Payable </a> </td>
													    <td> <a href="../elements/8354a428-fb9f-4898-8b77-c48d09544c26.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/21d1af50-3289-40ea-bf65-597e283c10f3.html" target="element"> Expense Management </a> </td>
													    <td> <a href="../elements/21d1af50-3289-40ea-bf65-597e283c10f3.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/e9952ec0-576d-434d-a541-84152eff850b.html" target="element"> General Ledger </a> </td>
													    <td> <a href="../elements/e9952ec0-576d-434d-a541-84152eff850b.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/b764b642-a59a-4324-8633-078cc54848bc.html" target="element"> Procurement </a> </td>
													    <td> <a href="../elements/b764b642-a59a-4324-8633-078cc54848bc.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/16e2601d-d71f-46bd-9cdb-0a04cd99779f.html" target="element"> Research Administration </a> </td>
													    <td> <a href="../elements/16e2601d-d71f-46bd-9cdb-0a04cd99779f.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/18fac483-a385-4f64-810d-81635ce5324e.html" target="element"> Budget Management </a> </td>
													    <td> <a href="../elements/18fac483-a385-4f64-810d-81635ce5324e.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/86f0c2ed-437c-43e5-b229-62038885f9ae.html" target="element"> Journal Entries </a> </td>
													    <td> <a href="../elements/86f0c2ed-437c-43e5-b229-62038885f9ae.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/0fd111fb-ab4a-4b50-b08b-25d7fb1fe0f5.html" target="element"> Cashnet </a> </td>
											    <td> <a href="../elements/0fd111fb-ab4a-4b50-b08b-25d7fb1fe0f5.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/6e1780b7-2856-435e-ac39-888e34275395.html" target="element"> Payment Gateway </a> </td>
													    <td> <a href="../elements/6e1780b7-2856-435e-ac39-888e34275395.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/3fe422dd-5740-40f5-973c-9cda9dd5d0b5.html" target="element"> Concur </a> </td>
											    <td> <a href="../elements/3fe422dd-5740-40f5-973c-9cda9dd5d0b5.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/21d1af50-3289-40ea-bf65-597e283c10f3.html" target="element"> Expense Management </a> </td>
													    <td> <a href="../elements/21d1af50-3289-40ea-bf65-597e283c10f3.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/376957f3-f87a-439e-a853-9148a2d9e8af.html" target="element"> myMarketPlace </a> </td>
											    <td> <a href="../elements/376957f3-f87a-439e-a853-9148a2d9e8af.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/b764b642-a59a-4324-8633-078cc54848bc.html" target="element"> Procurement </a> </td>
													    <td> <a href="../elements/b764b642-a59a-4324-8633-078cc54848bc.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/6180170d-3732-47a6-a63a-3c6f9235d402.html" target="element"> TM1 </a> </td>
											    <td> <a href="../elements/6180170d-3732-47a6-a63a-3c6f9235d402.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/18fac483-a385-4f64-810d-81635ce5324e.html" target="element"> Budget Management </a> </td>
													    <td> <a href="../elements/18fac483-a385-4f64-810d-81635ce5324e.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/7a7d7983-c0dc-4154-bbc8-1ef876015a8d.html" target="element"> Banner AR </a> </td>
											    <td> <a href="../elements/7a7d7983-c0dc-4154-bbc8-1ef876015a8d.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/db27312b-3329-40f0-bf5a-790a41d9c9fa.html" target="element"> Student Accounts and Billing </a> </td>
													    <td> <a href="../elements/db27312b-3329-40f0-bf5a-790a41d9c9fa.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/76a83ef7-c781-4e97-bf06-237d4668500a.html" target="element"> Banner Advancement </a> </td>
											    <td> <a href="../elements/76a83ef7-c781-4e97-bf06-237d4668500a.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/23efcb22-df24-41e2-a59e-8b5451a7a1d8.html" target="element"> Gift Processing </a> </td>
													    <td> <a href="../elements/23efcb22-df24-41e2-a59e-8b5451a7a1d8.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/75a8e749-7599-4b44-bd83-f793ef4a9126.html" target="element"> Workday HRM and Payroll </a> </td>
											    <td> <a href="../elements/75a8e749-7599-4b44-bd83-f793ef4a9126.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/f43cdf67-f287-45f6-8872-8ed2e7896aec.html" target="element"> Payroll Processing </a> </td>
													    <td> <a href="../elements/f43cdf67-f287-45f6-8872-8ed2e7896aec.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-407a9aed0a8a4bc3a88a47f5a29f65db.html" target="element"> Flywire </a> </td>
											    <td> <a href="../elements/id-407a9aed0a8a4bc3a88a47f5a29f65db.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/85921317-4d32-4771-aadd-73065874cb5b.html" target="element"> International Payment </a> </td>
													    <td> <a href="../elements/85921317-4d32-4771-aadd-73065874cb5b.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-570034bc9b7f4810a171462ecd5ef709.html" target="element"> Financial Force </a> </td>
											    <td> <a href="../elements/id-570034bc9b7f4810a171462ecd5ef709.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/85921317-4d32-4771-aadd-73065874cb5b.html" target="element"> International Payment </a> </td>
													    <td> <a href="../elements/85921317-4d32-4771-aadd-73065874cb5b.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-d913218628904b90ad9d4cd2503b6e24.html" target="element"> Sage </a> </td>
											    <td> <a href="../elements/id-d913218628904b90ad9d4cd2503b6e24.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/15fb4558-dd4e-484b-b2ac-e66600562982.html" target="element"> Fixed Assets </a> </td>
													    <td> <a href="../elements/15fb4558-dd4e-484b-b2ac-e66600562982.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/b4934421-d271-402c-9897-aed221561d9c.html" target="element"> eBuilder </a> </td>
											    <td> <a href="../elements/b4934421-d271-402c-9897-aed221561d9c.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/ac5b8bf9-04ff-4097-a021-266bb02d8f1b.html" target="element"> Facilities Project Mgmt </a> </td>
													    <td> <a href="../elements/ac5b8bf9-04ff-4097-a021-266bb02d8f1b.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-0c296c59041a4d29af428a09df0e12a7.html" target="element"> ECSI </a> </td>
											    <td> <a href="../elements/id-0c296c59041a4d29af428a09df0e12a7.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-9033dd67dde945658b7bd31ef356348a.html" target="element"> Loans </a> </td>
													    <td> <a href="../elements/id-9033dd67dde945658b7bd31ef356348a.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/b2f7529f-11d9-4fe7-920b-e33d040e59e5.html" target="element"> ALMA </a> </td>
											    <td> <a href="../elements/b2f7529f-11d9-4fe7-920b-e33d040e59e5.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/2b1e9b7d-1623-4224-bea3-70dcb001ba64.html" target="element"> Library Fines </a> </td>
													    <td> <a href="../elements/2b1e9b7d-1623-4224-bea3-70dcb001ba64.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-8f53096faf554efbbacdceac6ec38918.html" target="element"> EnergyCap </a> </td>
											    <td> <a href="../elements/id-8f53096faf554efbbacdceac6ec38918.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-afa3f0c854814287b474f113ac11bbcf.html" target="element"> Utilities Mgmt </a> </td>
													    <td> <a href="../elements/id-afa3f0c854814287b474f113ac11bbcf.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-8f436efcb4f0409e9bbbce9e81b1af51.html" target="element"> Calero </a> </td>
											    <td> <a href="../elements/id-8f436efcb4f0409e9bbbce9e81b1af51.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-20e7f85b68b64810bc1e84c5e712ca43.html" target="element"> Telephone Charges </a> </td>
													    <td> <a href="../elements/id-20e7f85b68b64810bc1e84c5e712ca43.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-dbe1a292129648d0b74f07c0e907ee58.html" target="element"> Vendor  Uploads </a> </td>
											    <td> <a href="../elements/id-dbe1a292129648d0b74f07c0e907ee58.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-b95b7b9fa6b74670ba5285b04978b7e9.html" target="element"> Integrated Transactions </a> </td>
													    <td> <a href="../elements/id-b95b7b9fa6b74670ba5285b04978b7e9.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-e76ae219f3f349c599d8f3ebdb99be27.html" target="element"> DirectPay Workflow (K2) </a> </td>
											    <td> <a href="../elements/id-e76ae219f3f349c599d8f3ebdb99be27.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-529613a1b4534d62ac93cc1c4582cb04.html" target="element"> Direct Pay Invoices </a> </td>
													    <td> <a href="../elements/id-529613a1b4534d62ac93cc1c4582cb04.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-bac872a4db0b4ee09a3f4447dc8c3129.html" target="element"> Priority Software </a> </td>
											    <td> <a href="../elements/id-bac872a4db0b4ee09a3f4447dc8c3129.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/16e2601d-d71f-46bd-9cdb-0a04cd99779f.html" target="element"> Research Administration </a> </td>
													    <td> <a href="../elements/16e2601d-d71f-46bd-9cdb-0a04cd99779f.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/fdb203ed-59b0-4be5-83b4-7478f121b956.html" target="element">  </a> </td>
																		<td> <a href="../elements/fdb203ed-59b0-4be5-83b4-7478f121b956.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/1052c537-23cd-4113-89e1-ddadf53b1c68.html" target="element"> Banner Finance </a> </td>
																		<td> <a href="../elements/8354a428-fb9f-4898-8b77-c48d09544c26.html" target="element"> Accounts Payable </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3d55410c-fbec-4ac3-80b5-ec555301c7e7.html" target="element">  </a> </td>
																		<td> <a href="../elements/3d55410c-fbec-4ac3-80b5-ec555301c7e7.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/1052c537-23cd-4113-89e1-ddadf53b1c68.html" target="element"> Banner Finance </a> </td>
																		<td> <a href="../elements/21d1af50-3289-40ea-bf65-597e283c10f3.html" target="element"> Expense Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d23a239e-0119-41ab-b7e9-307b9df95fb7.html" target="element">  </a> </td>
																		<td> <a href="../elements/d23a239e-0119-41ab-b7e9-307b9df95fb7.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/1052c537-23cd-4113-89e1-ddadf53b1c68.html" target="element"> Banner Finance </a> </td>
																		<td> <a href="../elements/e9952ec0-576d-434d-a541-84152eff850b.html" target="element"> General Ledger </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8626c97d-54d5-4935-9d28-b6960b754dc5.html" target="element">  </a> </td>
																		<td> <a href="../elements/8626c97d-54d5-4935-9d28-b6960b754dc5.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/1052c537-23cd-4113-89e1-ddadf53b1c68.html" target="element"> Banner Finance </a> </td>
																		<td> <a href="../elements/b764b642-a59a-4324-8633-078cc54848bc.html" target="element"> Procurement </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/88f0de77-6935-4f6a-978b-dc5333704c87.html" target="element">  </a> </td>
																		<td> <a href="../elements/88f0de77-6935-4f6a-978b-dc5333704c87.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/1052c537-23cd-4113-89e1-ddadf53b1c68.html" target="element"> Banner Finance </a> </td>
																		<td> <a href="../elements/16e2601d-d71f-46bd-9cdb-0a04cd99779f.html" target="element"> Research Administration </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/99cfeacb-7f4d-41b7-8764-24bad6ad9eed.html" target="element">  </a> </td>
																		<td> <a href="../elements/99cfeacb-7f4d-41b7-8764-24bad6ad9eed.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/1052c537-23cd-4113-89e1-ddadf53b1c68.html" target="element"> Banner Finance </a> </td>
																		<td> <a href="../elements/18fac483-a385-4f64-810d-81635ce5324e.html" target="element"> Budget Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/57cc71ba-4acf-4111-93d6-b2edc8c4a66b.html" target="element">  </a> </td>
																		<td> <a href="../elements/57cc71ba-4acf-4111-93d6-b2edc8c4a66b.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/1052c537-23cd-4113-89e1-ddadf53b1c68.html" target="element"> Banner Finance </a> </td>
																		<td> <a href="../elements/86f0c2ed-437c-43e5-b229-62038885f9ae.html" target="element"> Journal Entries </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-f982e47ad2a347d28a2def40904f0d55.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f982e47ad2a347d28a2def40904f0d55.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/21d1af50-3289-40ea-bf65-597e283c10f3.html" target="element"> Expense Management </a> </td>
																				<td> <a href="../elements/16e2601d-d71f-46bd-9cdb-0a04cd99779f.html" target="element"> Research Administration </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-27753e00ce6b4c348a921b1415532a84.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-27753e00ce6b4c348a921b1415532a84.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/16e2601d-d71f-46bd-9cdb-0a04cd99779f.html" target="element"> Research Administration </a> </td>
																				<td> <a href="../elements/16e2601d-d71f-46bd-9cdb-0a04cd99779f.html" target="element"> Research Administration </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-cb2d302c6ee2400b9ed7fe3ee4faf565.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-cb2d302c6ee2400b9ed7fe3ee4faf565.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/18fac483-a385-4f64-810d-81635ce5324e.html" target="element"> Budget Management </a> </td>
																				<td> <a href="../elements/16e2601d-d71f-46bd-9cdb-0a04cd99779f.html" target="element"> Research Administration </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/73ed9f40-ea08-428e-9328-5345c48fbd50.html" target="element">  </a> </td>
																		<td> <a href="../elements/73ed9f40-ea08-428e-9328-5345c48fbd50.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/0fd111fb-ab4a-4b50-b08b-25d7fb1fe0f5.html" target="element"> Cashnet </a> </td>
																		<td> <a href="../elements/6e1780b7-2856-435e-ac39-888e34275395.html" target="element"> Payment Gateway </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/979364f2-8b8c-4e74-990a-e584895fb511.html" target="element">  </a> </td>
																				<td> <a href="../elements/979364f2-8b8c-4e74-990a-e584895fb511.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/6e1780b7-2856-435e-ac39-888e34275395.html" target="element"> Payment Gateway </a> </td>
																				<td> <a href="../elements/e9952ec0-576d-434d-a541-84152eff850b.html" target="element"> General Ledger </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/19915c5e-83cc-4b2a-a5dc-6e7da597f9a7.html" target="element">  </a> </td>
																		<td> <a href="../elements/19915c5e-83cc-4b2a-a5dc-6e7da597f9a7.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/3fe422dd-5740-40f5-973c-9cda9dd5d0b5.html" target="element"> Concur </a> </td>
																		<td> <a href="../elements/21d1af50-3289-40ea-bf65-597e283c10f3.html" target="element"> Expense Management </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/c734b7f2-1e6b-4ce3-9b68-381513307e0e.html" target="element">  </a> </td>
																				<td> <a href="../elements/c734b7f2-1e6b-4ce3-9b68-381513307e0e.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/21d1af50-3289-40ea-bf65-597e283c10f3.html" target="element"> Expense Management </a> </td>
																				<td> <a href="../elements/21d1af50-3289-40ea-bf65-597e283c10f3.html" target="element"> Expense Management </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/570ba2ba-0016-496d-a305-9e15d55859b9.html" target="element">  </a> </td>
																				<td> <a href="../elements/570ba2ba-0016-496d-a305-9e15d55859b9.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/21d1af50-3289-40ea-bf65-597e283c10f3.html" target="element"> Expense Management </a> </td>
																				<td> <a href="../elements/e9952ec0-576d-434d-a541-84152eff850b.html" target="element"> General Ledger </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/7a3a2ba3-6292-43e0-b87c-1f32d293f6b3.html" target="element">  </a> </td>
																		<td> <a href="../elements/7a3a2ba3-6292-43e0-b87c-1f32d293f6b3.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/376957f3-f87a-439e-a853-9148a2d9e8af.html" target="element"> myMarketPlace </a> </td>
																		<td> <a href="../elements/b764b642-a59a-4324-8633-078cc54848bc.html" target="element"> Procurement </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/c9f5e301-8a03-48f3-8d35-6f0be5315525.html" target="element">  </a> </td>
																				<td> <a href="../elements/c9f5e301-8a03-48f3-8d35-6f0be5315525.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/b764b642-a59a-4324-8633-078cc54848bc.html" target="element"> Procurement </a> </td>
																				<td> <a href="../elements/b764b642-a59a-4324-8633-078cc54848bc.html" target="element"> Procurement </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/02d1c758-6374-44f2-8c13-64c041148151.html" target="element">  </a> </td>
																				<td> <a href="../elements/02d1c758-6374-44f2-8c13-64c041148151.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/b764b642-a59a-4324-8633-078cc54848bc.html" target="element"> Procurement </a> </td>
																				<td> <a href="../elements/e9952ec0-576d-434d-a541-84152eff850b.html" target="element"> General Ledger </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/8be534ab-c56a-4e66-898b-cb34cbeeb90c.html" target="element">  </a> </td>
																		<td> <a href="../elements/8be534ab-c56a-4e66-898b-cb34cbeeb90c.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/6180170d-3732-47a6-a63a-3c6f9235d402.html" target="element"> TM1 </a> </td>
																		<td> <a href="../elements/18fac483-a385-4f64-810d-81635ce5324e.html" target="element"> Budget Management </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/ae0119dc-db9a-420a-859e-3056c9ffe7c2.html" target="element">  </a> </td>
																				<td> <a href="../elements/ae0119dc-db9a-420a-859e-3056c9ffe7c2.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/18fac483-a385-4f64-810d-81635ce5324e.html" target="element"> Budget Management </a> </td>
																				<td> <a href="../elements/18fac483-a385-4f64-810d-81635ce5324e.html" target="element"> Budget Management </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/f1568ce5-f515-4b56-b359-d99e2ca9adbd.html" target="element">  </a> </td>
																		<td> <a href="../elements/f1568ce5-f515-4b56-b359-d99e2ca9adbd.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/7a7d7983-c0dc-4154-bbc8-1ef876015a8d.html" target="element"> Banner AR </a> </td>
																		<td> <a href="../elements/db27312b-3329-40f0-bf5a-790a41d9c9fa.html" target="element"> Student Accounts and Billing </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-949ad311acb8424fa50b5c2ce131451d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-949ad311acb8424fa50b5c2ce131451d.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/db27312b-3329-40f0-bf5a-790a41d9c9fa.html" target="element"> Student Accounts and Billing </a> </td>
																				<td> <a href="../elements/e9952ec0-576d-434d-a541-84152eff850b.html" target="element"> General Ledger </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/21cacf02-aad4-482e-8b27-b8a028068077.html" target="element">  </a> </td>
																		<td> <a href="../elements/21cacf02-aad4-482e-8b27-b8a028068077.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/76a83ef7-c781-4e97-bf06-237d4668500a.html" target="element"> Banner Advancement </a> </td>
																		<td> <a href="../elements/23efcb22-df24-41e2-a59e-8b5451a7a1d8.html" target="element"> Gift Processing </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/0b08db73-677e-4d2a-a629-e1da137cb37a.html" target="element">  </a> </td>
																				<td> <a href="../elements/0b08db73-677e-4d2a-a629-e1da137cb37a.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/23efcb22-df24-41e2-a59e-8b5451a7a1d8.html" target="element"> Gift Processing </a> </td>
																				<td> <a href="../elements/e9952ec0-576d-434d-a541-84152eff850b.html" target="element"> General Ledger </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/60cc2df5-85e0-43a0-baa2-ae5e20925a6a.html" target="element">  </a> </td>
																		<td> <a href="../elements/60cc2df5-85e0-43a0-baa2-ae5e20925a6a.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/75a8e749-7599-4b44-bd83-f793ef4a9126.html" target="element"> Workday HRM and Payroll </a> </td>
																		<td> <a href="../elements/f43cdf67-f287-45f6-8872-8ed2e7896aec.html" target="element"> Payroll Processing </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/5fbac5ea-2291-4908-881d-68bb340f084c.html" target="element">  </a> </td>
																				<td> <a href="../elements/5fbac5ea-2291-4908-881d-68bb340f084c.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/f43cdf67-f287-45f6-8872-8ed2e7896aec.html" target="element"> Payroll Processing </a> </td>
																				<td> <a href="../elements/e9952ec0-576d-434d-a541-84152eff850b.html" target="element"> General Ledger </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-d0bcfbc7239b48389472dea64f42b131.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d0bcfbc7239b48389472dea64f42b131.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-407a9aed0a8a4bc3a88a47f5a29f65db.html" target="element"> Flywire </a> </td>
																		<td> <a href="../elements/85921317-4d32-4771-aadd-73065874cb5b.html" target="element"> International Payment </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-6ef47ca21df244f886e9e7a5b8ed3067.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6ef47ca21df244f886e9e7a5b8ed3067.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/85921317-4d32-4771-aadd-73065874cb5b.html" target="element"> International Payment </a> </td>
																				<td> <a href="../elements/e9952ec0-576d-434d-a541-84152eff850b.html" target="element"> General Ledger </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-b7e24b830af04217aed120da438fc340.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b7e24b830af04217aed120da438fc340.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-570034bc9b7f4810a171462ecd5ef709.html" target="element"> Financial Force </a> </td>
																		<td> <a href="../elements/85921317-4d32-4771-aadd-73065874cb5b.html" target="element"> International Payment </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-6ef47ca21df244f886e9e7a5b8ed3067.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6ef47ca21df244f886e9e7a5b8ed3067.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/85921317-4d32-4771-aadd-73065874cb5b.html" target="element"> International Payment </a> </td>
																				<td> <a href="../elements/e9952ec0-576d-434d-a541-84152eff850b.html" target="element"> General Ledger </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-3dc095417af74d8f9649012a1aaafe03.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3dc095417af74d8f9649012a1aaafe03.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-d913218628904b90ad9d4cd2503b6e24.html" target="element"> Sage </a> </td>
																		<td> <a href="../elements/15fb4558-dd4e-484b-b2ac-e66600562982.html" target="element"> Fixed Assets </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-fbbef31619384ed687c1652690e0aeeb.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-fbbef31619384ed687c1652690e0aeeb.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/15fb4558-dd4e-484b-b2ac-e66600562982.html" target="element"> Fixed Assets </a> </td>
																				<td> <a href="../elements/e9952ec0-576d-434d-a541-84152eff850b.html" target="element"> General Ledger </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/d30f5981-a7f5-49c4-8e2e-5e9ed6077323.html" target="element">  </a> </td>
																		<td> <a href="../elements/d30f5981-a7f5-49c4-8e2e-5e9ed6077323.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/b4934421-d271-402c-9897-aed221561d9c.html" target="element"> eBuilder </a> </td>
																		<td> <a href="../elements/ac5b8bf9-04ff-4097-a021-266bb02d8f1b.html" target="element"> Facilities Project Mgmt </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-120393701a534e13aea5db0690e89518.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-120393701a534e13aea5db0690e89518.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/ac5b8bf9-04ff-4097-a021-266bb02d8f1b.html" target="element"> Facilities Project Mgmt </a> </td>
																				<td> <a href="../elements/b764b642-a59a-4324-8633-078cc54848bc.html" target="element"> Procurement </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-1f66c6fdeaaf4a1f92279629325dd357.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1f66c6fdeaaf4a1f92279629325dd357.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/ac5b8bf9-04ff-4097-a021-266bb02d8f1b.html" target="element"> Facilities Project Mgmt </a> </td>
																				<td> <a href="../elements/8354a428-fb9f-4898-8b77-c48d09544c26.html" target="element"> Accounts Payable </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-d2f67cfd44744c01bdb072e626646e36.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d2f67cfd44744c01bdb072e626646e36.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-0c296c59041a4d29af428a09df0e12a7.html" target="element"> ECSI </a> </td>
																		<td> <a href="../elements/id-9033dd67dde945658b7bd31ef356348a.html" target="element"> Loans </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-ac4d613250344e4aac32b0e229426a7a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ac4d613250344e4aac32b0e229426a7a.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/id-9033dd67dde945658b7bd31ef356348a.html" target="element"> Loans </a> </td>
																				<td> <a href="../elements/e9952ec0-576d-434d-a541-84152eff850b.html" target="element"> General Ledger </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/f6548e3b-82ec-4dd6-8c75-86ee6c9a9f50.html" target="element">  </a> </td>
																		<td> <a href="../elements/f6548e3b-82ec-4dd6-8c75-86ee6c9a9f50.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/b2f7529f-11d9-4fe7-920b-e33d040e59e5.html" target="element"> ALMA </a> </td>
																		<td> <a href="../elements/2b1e9b7d-1623-4224-bea3-70dcb001ba64.html" target="element"> Library Fines </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-5b79b23391ba4757a540776a5101950f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5b79b23391ba4757a540776a5101950f.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/2b1e9b7d-1623-4224-bea3-70dcb001ba64.html" target="element"> Library Fines </a> </td>
																				<td> <a href="../elements/8354a428-fb9f-4898-8b77-c48d09544c26.html" target="element"> Accounts Payable </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-c180823b162f4235a6f1742a9fbf1453.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c180823b162f4235a6f1742a9fbf1453.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-8f53096faf554efbbacdceac6ec38918.html" target="element"> EnergyCap </a> </td>
																		<td> <a href="../elements/id-afa3f0c854814287b474f113ac11bbcf.html" target="element"> Utilities Mgmt </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-eb14c054c3024a0cb2c3de2f1fc40611.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-eb14c054c3024a0cb2c3de2f1fc40611.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/id-afa3f0c854814287b474f113ac11bbcf.html" target="element"> Utilities Mgmt </a> </td>
																				<td> <a href="../elements/8354a428-fb9f-4898-8b77-c48d09544c26.html" target="element"> Accounts Payable </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-7c2792958f8d4103a6ec0906b341138b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7c2792958f8d4103a6ec0906b341138b.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-8f436efcb4f0409e9bbbce9e81b1af51.html" target="element"> Calero </a> </td>
																		<td> <a href="../elements/id-20e7f85b68b64810bc1e84c5e712ca43.html" target="element"> Telephone Charges </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0e1df7ab4bfa45ac8e63424f5395ebd4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0e1df7ab4bfa45ac8e63424f5395ebd4.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/id-8f436efcb4f0409e9bbbce9e81b1af51.html" target="element"> Calero </a> </td>
																		<td> <a href="../elements/e9952ec0-576d-434d-a541-84152eff850b.html" target="element"> General Ledger </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-04d1616e5335471ebaee863646b30003.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-04d1616e5335471ebaee863646b30003.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-dbe1a292129648d0b74f07c0e907ee58.html" target="element"> Vendor  Uploads </a> </td>
																		<td> <a href="../elements/id-b95b7b9fa6b74670ba5285b04978b7e9.html" target="element"> Integrated Transactions </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-61d39d8fb93c45b9aa9ccdf296e48b3e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-61d39d8fb93c45b9aa9ccdf296e48b3e.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/id-dbe1a292129648d0b74f07c0e907ee58.html" target="element"> Vendor  Uploads </a> </td>
																		<td> <a href="../elements/e9952ec0-576d-434d-a541-84152eff850b.html" target="element"> General Ledger </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-cf2afe0f2ca14f3bb43c2cced2ba6d14.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cf2afe0f2ca14f3bb43c2cced2ba6d14.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-e76ae219f3f349c599d8f3ebdb99be27.html" target="element"> DirectPay Workflow (K2) </a> </td>
																		<td> <a href="../elements/id-529613a1b4534d62ac93cc1c4582cb04.html" target="element"> Direct Pay Invoices </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-90beb2c995fa424ab46876d6016f4702.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-90beb2c995fa424ab46876d6016f4702.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/id-e76ae219f3f349c599d8f3ebdb99be27.html" target="element"> DirectPay Workflow (K2) </a> </td>
																		<td> <a href="../elements/8354a428-fb9f-4898-8b77-c48d09544c26.html" target="element"> Accounts Payable </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-8005e1c723e64fb5ace093c500647e59.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8005e1c723e64fb5ace093c500647e59.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-bac872a4db0b4ee09a3f4447dc8c3129.html" target="element"> Priority Software </a> </td>
																		<td> <a href="../elements/16e2601d-d71f-46bd-9cdb-0a04cd99779f.html" target="element"> Research Administration </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>