<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Accounts Receivable Perspective</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Accounts Receivable Perspective</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/8323ecf4-ec3a-41f5-8091-aab731581e23.png" alt="Accounts Receivable Perspective" usemap="#8323ecf4-ec3a-41f5-8091-aab731581e23map"/>
			   <map name="8323ecf4-ec3a-41f5-8091-aab731581e23map">
				  		<area shape="rect" coords="1916,482,2156,592" href="../elements/id-7e226d8fd3584e7692a14895a86e8e1a.html"  target="element">
				  				<area shape="rect" coords="70,572,310,682" href="../elements/f22b48dc-1f14-4ebd-a22f-d2dbc7d79b02.html"  target="element">
				  				<area shape="rect" coords="70,428,310,538" href="../elements/05b3d435-1595-4d30-a050-7fa103855828.html"  target="element">
				  				<area shape="rect" coords="68,332,310,406" href="../elements/f43cdf67-f287-45f6-8872-8ed2e7896aec.html"  target="element">

				  		<area shape="rect" coords="20,260,334,694" href="../elements/75a8e749-7599-4b44-bd83-f793ef4a9126.html"  target="element">
				  				<area shape="rect" coords="1892,86,2132,196" href="../elements/1ab14be9-2adb-4ddb-bdea-844fc7ccac79.html"  target="element">

				  		<area shape="rect" coords="1844,38,2144,220" href="../elements/8bb79afe-f7b3-4b03-b34d-5f853c62a67e.html"  target="element">
				  				<area shape="rect" coords="68,884,308,958" href="../elements/6e1780b7-2856-435e-ac39-888e34275395.html"  target="element">

				  		<area shape="rect" coords="20,836,334,994" href="../elements/0fd111fb-ab4a-4b50-b08b-25d7fb1fe0f5.html"  target="element">
				  				<area shape="rect" coords="980,92,1220,166" href="../elements/2b1e9b7d-1623-4224-bea3-70dcb001ba64.html"  target="element">

				  		<area shape="rect" coords="932,20,1246,190" href="../elements/b2f7529f-11d9-4fe7-920b-e33d040e59e5.html"  target="element">
				  				<area shape="rect" coords="1490,482,1730,592" href="../elements/fe7b924a-aaf2-4029-a9ba-620b94557def.html"  target="element">

				  		<area shape="rect" coords="1442,410,1744,616" href="../elements/938feb5b-0d4b-4030-81c9-315e9801e0c0.html"  target="element">
				  		<area shape="rect" coords="812,236,1052,346" href="../elements/1709784f-7ba5-4f5d-a6bb-73d146a3f45b.html"  target="element">
				  				<area shape="rect" coords="824,1064,1064,1138" href="../elements/85921317-4d32-4771-aadd-73065874cb5b.html"  target="element">

				  		<area shape="rect" coords="776,992,1090,1162" href="../elements/bccb0b88-04aa-4224-a9f1-cc5a102286b9.html"  target="element">
				  				<area shape="rect" coords="476,260,716,334" href="../elements/e9952ec0-576d-434d-a541-84152eff850b.html"  target="element">

				  		<area shape="rect" coords="428,188,730,358" href="../elements/1052c537-23cd-4113-89e1-ddadf53b1c68.html"  target="element">
				  				<area shape="rect" coords="1484,140,1724,214" href="../elements/7660ecab-421b-4b84-bb54-9fc24407f27f.html"  target="element">

				  		<area shape="rect" coords="1436,20,1750,238" href="../elements/84b474a2-c731-4ee7-9d95-09765c8bf71c.html"  target="element">
				  				<area shape="rect" coords="1508,1100,1748,1174" href="../elements/679e6ce2-0f57-4be8-8a9f-ecb6bfbebe8f.html"  target="element">

				  		<area shape="rect" coords="1460,1028,1774,1198" href="../elements/77e8d418-79b7-4394-bd1f-c92df97a727b.html"  target="element">
				  				<area shape="rect" coords="932,500,1270,598" href="../elements/db27312b-3329-40f0-bf5a-790a41d9c9fa.html"  target="element">

				  		<area shape="rect" coords="812,380,1368,694" href="../elements/7a7d7983-c0dc-4154-bbc8-1ef876015a8d.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/7a7d7983-c0dc-4154-bbc8-1ef876015a8d.html" target="element"> Banner AR </a> </td>
											    <td> <a href="../elements/7a7d7983-c0dc-4154-bbc8-1ef876015a8d.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/db27312b-3329-40f0-bf5a-790a41d9c9fa.html" target="element"> Student Accounts and Billing </a> </td>
													    <td> <a href="../elements/db27312b-3329-40f0-bf5a-790a41d9c9fa.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/77e8d418-79b7-4394-bd1f-c92df97a727b.html" target="element"> Powerfaids/NetPartner </a> </td>
											    <td> <a href="../elements/77e8d418-79b7-4394-bd1f-c92df97a727b.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/679e6ce2-0f57-4be8-8a9f-ecb6bfbebe8f.html" target="element"> Financial Aid </a> </td>
													    <td> <a href="../elements/679e6ce2-0f57-4be8-8a9f-ecb6bfbebe8f.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/84b474a2-c731-4ee7-9d95-09765c8bf71c.html" target="element"> Residential Management System (RMS) </a> </td>
											    <td> <a href="../elements/84b474a2-c731-4ee7-9d95-09765c8bf71c.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/7660ecab-421b-4b84-bb54-9fc24407f27f.html" target="element"> Residence Mgmt </a> </td>
													    <td> <a href="../elements/7660ecab-421b-4b84-bb54-9fc24407f27f.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/1052c537-23cd-4113-89e1-ddadf53b1c68.html" target="element"> Banner Finance </a> </td>
											    <td> <a href="../elements/1052c537-23cd-4113-89e1-ddadf53b1c68.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/e9952ec0-576d-434d-a541-84152eff850b.html" target="element"> General Ledger </a> </td>
													    <td> <a href="../elements/e9952ec0-576d-434d-a541-84152eff850b.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/bccb0b88-04aa-4224-a9f1-cc5a102286b9.html" target="element"> FlyWire </a> </td>
											    <td> <a href="../elements/bccb0b88-04aa-4224-a9f1-cc5a102286b9.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/85921317-4d32-4771-aadd-73065874cb5b.html" target="element"> International Payment </a> </td>
													    <td> <a href="../elements/85921317-4d32-4771-aadd-73065874cb5b.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/1709784f-7ba5-4f5d-a6bb-73d146a3f45b.html" target="element"> Lock Box </a> </td>
											    <td> <a href="../elements/1709784f-7ba5-4f5d-a6bb-73d146a3f45b.html" target="element" class="i18n-elementtype-BusinessCollaboration"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/938feb5b-0d4b-4030-81c9-315e9801e0c0.html" target="element"> Student Refund Form </a> </td>
											    <td> <a href="../elements/938feb5b-0d4b-4030-81c9-315e9801e0c0.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/fe7b924a-aaf2-4029-a9ba-620b94557def.html" target="element"> Student Refund Processing </a> </td>
													    <td> <a href="../elements/fe7b924a-aaf2-4029-a9ba-620b94557def.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/b2f7529f-11d9-4fe7-920b-e33d040e59e5.html" target="element"> ALMA </a> </td>
											    <td> <a href="../elements/b2f7529f-11d9-4fe7-920b-e33d040e59e5.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/2b1e9b7d-1623-4224-bea3-70dcb001ba64.html" target="element"> Library Fines </a> </td>
													    <td> <a href="../elements/2b1e9b7d-1623-4224-bea3-70dcb001ba64.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/0fd111fb-ab4a-4b50-b08b-25d7fb1fe0f5.html" target="element"> Cashnet </a> </td>
											    <td> <a href="../elements/0fd111fb-ab4a-4b50-b08b-25d7fb1fe0f5.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/6e1780b7-2856-435e-ac39-888e34275395.html" target="element"> Payment Gateway </a> </td>
													    <td> <a href="../elements/6e1780b7-2856-435e-ac39-888e34275395.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/8bb79afe-f7b3-4b03-b34d-5f853c62a67e.html" target="element"> Banner Student </a> </td>
											    <td> <a href="../elements/8bb79afe-f7b3-4b03-b34d-5f853c62a67e.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/1ab14be9-2adb-4ddb-bdea-844fc7ccac79.html" target="element"> Student Records Processing </a> </td>
													    <td> <a href="../elements/1ab14be9-2adb-4ddb-bdea-844fc7ccac79.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/75a8e749-7599-4b44-bd83-f793ef4a9126.html" target="element"> Workday HRM and Payroll </a> </td>
											    <td> <a href="../elements/75a8e749-7599-4b44-bd83-f793ef4a9126.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/f43cdf67-f287-45f6-8872-8ed2e7896aec.html" target="element"> Payroll Processing </a> </td>
													    <td> <a href="../elements/f43cdf67-f287-45f6-8872-8ed2e7896aec.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/05b3d435-1595-4d30-a050-7fa103855828.html" target="element"> Time and Attendance </a> </td>
													    <td> <a href="../elements/05b3d435-1595-4d30-a050-7fa103855828.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/f22b48dc-1f14-4ebd-a22f-d2dbc7d79b02.html" target="element"> Employment </a> </td>
													    <td> <a href="../elements/f22b48dc-1f14-4ebd-a22f-d2dbc7d79b02.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-7e226d8fd3584e7692a14895a86e8e1a.html" target="element"> Student Hub </a> </td>
											    <td> <a href="../elements/id-7e226d8fd3584e7692a14895a86e8e1a.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/f1568ce5-f515-4b56-b359-d99e2ca9adbd.html" target="element">  </a> </td>
																		<td> <a href="../elements/f1568ce5-f515-4b56-b359-d99e2ca9adbd.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/7a7d7983-c0dc-4154-bbc8-1ef876015a8d.html" target="element"> Banner AR </a> </td>
																		<td> <a href="../elements/db27312b-3329-40f0-bf5a-790a41d9c9fa.html" target="element"> Student Accounts and Billing </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/d6c21699-8c68-442c-a5f5-e371542f7c30.html" target="element">  </a> </td>
																				<td> <a href="../elements/d6c21699-8c68-442c-a5f5-e371542f7c30.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/db27312b-3329-40f0-bf5a-790a41d9c9fa.html" target="element"> Student Accounts and Billing </a> </td>
																				<td> <a href="../elements/e9952ec0-576d-434d-a541-84152eff850b.html" target="element"> General Ledger </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/93ca6968-b9b5-4f5c-88d5-6b5396e5cd2c.html" target="element">  </a> </td>
																				<td> <a href="../elements/93ca6968-b9b5-4f5c-88d5-6b5396e5cd2c.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/db27312b-3329-40f0-bf5a-790a41d9c9fa.html" target="element"> Student Accounts and Billing </a> </td>
																				<td> <a href="../elements/6e1780b7-2856-435e-ac39-888e34275395.html" target="element"> Payment Gateway </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/18c7c6c4-1136-4296-b9ae-cc642d9df2d8.html" target="element">  </a> </td>
																		<td> <a href="../elements/18c7c6c4-1136-4296-b9ae-cc642d9df2d8.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/77e8d418-79b7-4394-bd1f-c92df97a727b.html" target="element"> Powerfaids/NetPartner </a> </td>
																		<td> <a href="../elements/679e6ce2-0f57-4be8-8a9f-ecb6bfbebe8f.html" target="element"> Financial Aid </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/ff09990a-e84a-4c58-8023-6dbb0dd1b690.html" target="element">  </a> </td>
																				<td> <a href="../elements/ff09990a-e84a-4c58-8023-6dbb0dd1b690.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/679e6ce2-0f57-4be8-8a9f-ecb6bfbebe8f.html" target="element"> Financial Aid </a> </td>
																				<td> <a href="../elements/db27312b-3329-40f0-bf5a-790a41d9c9fa.html" target="element"> Student Accounts and Billing </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/ff25f92d-43a3-4104-974e-4cfc9774e0d5.html" target="element">  </a> </td>
																		<td> <a href="../elements/ff25f92d-43a3-4104-974e-4cfc9774e0d5.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/84b474a2-c731-4ee7-9d95-09765c8bf71c.html" target="element"> Residential Management System (RMS) </a> </td>
																		<td> <a href="../elements/7660ecab-421b-4b84-bb54-9fc24407f27f.html" target="element"> Residence Mgmt </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/0d25de20-ed62-4f46-9e80-61551f1eaa1c.html" target="element">  </a> </td>
																				<td> <a href="../elements/0d25de20-ed62-4f46-9e80-61551f1eaa1c.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/7660ecab-421b-4b84-bb54-9fc24407f27f.html" target="element"> Residence Mgmt </a> </td>
																				<td> <a href="../elements/db27312b-3329-40f0-bf5a-790a41d9c9fa.html" target="element"> Student Accounts and Billing </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/d23a239e-0119-41ab-b7e9-307b9df95fb7.html" target="element">  </a> </td>
																		<td> <a href="../elements/d23a239e-0119-41ab-b7e9-307b9df95fb7.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/1052c537-23cd-4113-89e1-ddadf53b1c68.html" target="element"> Banner Finance </a> </td>
																		<td> <a href="../elements/e9952ec0-576d-434d-a541-84152eff850b.html" target="element"> General Ledger </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/e1c2a2bc-0182-4155-9fb3-2deb96fde14c.html" target="element">  </a> </td>
																				<td> <a href="../elements/e1c2a2bc-0182-4155-9fb3-2deb96fde14c.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/e9952ec0-576d-434d-a541-84152eff850b.html" target="element"> General Ledger </a> </td>
																				<td> <a href="../elements/db27312b-3329-40f0-bf5a-790a41d9c9fa.html" target="element"> Student Accounts and Billing </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/6cd183fe-86c5-45fa-a08a-126106d31844.html" target="element">  </a> </td>
																				<td> <a href="../elements/6cd183fe-86c5-45fa-a08a-126106d31844.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/e9952ec0-576d-434d-a541-84152eff850b.html" target="element"> General Ledger </a> </td>
																				<td> <a href="../elements/f43cdf67-f287-45f6-8872-8ed2e7896aec.html" target="element"> Payroll Processing </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/4d4c1c96-92a1-4261-8e57-fffa12dfa49e.html" target="element">  </a> </td>
																		<td> <a href="../elements/4d4c1c96-92a1-4261-8e57-fffa12dfa49e.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/bccb0b88-04aa-4224-a9f1-cc5a102286b9.html" target="element"> FlyWire </a> </td>
																		<td> <a href="../elements/85921317-4d32-4771-aadd-73065874cb5b.html" target="element"> International Payment </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/0f4bc9d1-b25c-4f00-acc6-de68460fa60e.html" target="element">  </a> </td>
																				<td> <a href="../elements/0f4bc9d1-b25c-4f00-acc6-de68460fa60e.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/85921317-4d32-4771-aadd-73065874cb5b.html" target="element"> International Payment </a> </td>
																				<td> <a href="../elements/db27312b-3329-40f0-bf5a-790a41d9c9fa.html" target="element"> Student Accounts and Billing </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/c5a82402-9910-4b78-8548-1d1cda409191.html" target="element">  </a> </td>
																		<td> <a href="../elements/c5a82402-9910-4b78-8548-1d1cda409191.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/1709784f-7ba5-4f5d-a6bb-73d146a3f45b.html" target="element"> Lock Box </a> </td>
																		<td> <a href="../elements/db27312b-3329-40f0-bf5a-790a41d9c9fa.html" target="element"> Student Accounts and Billing </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/2b111aa3-2c2f-4d72-8deb-1c9b7405e6df.html" target="element">  </a> </td>
																		<td> <a href="../elements/2b111aa3-2c2f-4d72-8deb-1c9b7405e6df.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/938feb5b-0d4b-4030-81c9-315e9801e0c0.html" target="element"> Student Refund Form </a> </td>
																		<td> <a href="../elements/fe7b924a-aaf2-4029-a9ba-620b94557def.html" target="element"> Student Refund Processing </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/ed87e4e2-dde1-4fb2-8b62-550fab0f64f8.html" target="element">  </a> </td>
																				<td> <a href="../elements/ed87e4e2-dde1-4fb2-8b62-550fab0f64f8.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/fe7b924a-aaf2-4029-a9ba-620b94557def.html" target="element"> Student Refund Processing </a> </td>
																				<td> <a href="../elements/db27312b-3329-40f0-bf5a-790a41d9c9fa.html" target="element"> Student Accounts and Billing </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/f6548e3b-82ec-4dd6-8c75-86ee6c9a9f50.html" target="element">  </a> </td>
																		<td> <a href="../elements/f6548e3b-82ec-4dd6-8c75-86ee6c9a9f50.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/b2f7529f-11d9-4fe7-920b-e33d040e59e5.html" target="element"> ALMA </a> </td>
																		<td> <a href="../elements/2b1e9b7d-1623-4224-bea3-70dcb001ba64.html" target="element"> Library Fines </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/7d956cf5-7861-4721-a835-acd08c7d3dd9.html" target="element">  </a> </td>
																				<td> <a href="../elements/7d956cf5-7861-4721-a835-acd08c7d3dd9.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/2b1e9b7d-1623-4224-bea3-70dcb001ba64.html" target="element"> Library Fines </a> </td>
																				<td> <a href="../elements/db27312b-3329-40f0-bf5a-790a41d9c9fa.html" target="element"> Student Accounts and Billing </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/73ed9f40-ea08-428e-9328-5345c48fbd50.html" target="element">  </a> </td>
																		<td> <a href="../elements/73ed9f40-ea08-428e-9328-5345c48fbd50.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/0fd111fb-ab4a-4b50-b08b-25d7fb1fe0f5.html" target="element"> Cashnet </a> </td>
																		<td> <a href="../elements/6e1780b7-2856-435e-ac39-888e34275395.html" target="element"> Payment Gateway </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/450acdc0-f5e0-4180-b0d3-fa2911f105ef.html" target="element">  </a> </td>
																				<td> <a href="../elements/450acdc0-f5e0-4180-b0d3-fa2911f105ef.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/6e1780b7-2856-435e-ac39-888e34275395.html" target="element"> Payment Gateway </a> </td>
																				<td> <a href="../elements/db27312b-3329-40f0-bf5a-790a41d9c9fa.html" target="element"> Student Accounts and Billing </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/adb05a41-017e-488b-a844-e6bd5c5a1a88.html" target="element">  </a> </td>
																		<td> <a href="../elements/adb05a41-017e-488b-a844-e6bd5c5a1a88.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/8bb79afe-f7b3-4b03-b34d-5f853c62a67e.html" target="element"> Banner Student </a> </td>
																		<td> <a href="../elements/1ab14be9-2adb-4ddb-bdea-844fc7ccac79.html" target="element"> Student Records Processing </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/dd060305-cddc-4f89-9ff5-0933ca310b84.html" target="element">  </a> </td>
																				<td> <a href="../elements/dd060305-cddc-4f89-9ff5-0933ca310b84.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/1ab14be9-2adb-4ddb-bdea-844fc7ccac79.html" target="element"> Student Records Processing </a> </td>
																				<td> <a href="../elements/6e1780b7-2856-435e-ac39-888e34275395.html" target="element"> Payment Gateway </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/2be22f99-7720-410f-bac1-34836e57640d.html" target="element">  </a> </td>
																				<td> <a href="../elements/2be22f99-7720-410f-bac1-34836e57640d.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/1ab14be9-2adb-4ddb-bdea-844fc7ccac79.html" target="element"> Student Records Processing </a> </td>
																				<td> <a href="../elements/7660ecab-421b-4b84-bb54-9fc24407f27f.html" target="element"> Residence Mgmt </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/6c62d246-7691-4d19-ba52-7df66fc0d6eb.html" target="element">  </a> </td>
																				<td> <a href="../elements/6c62d246-7691-4d19-ba52-7df66fc0d6eb.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/1ab14be9-2adb-4ddb-bdea-844fc7ccac79.html" target="element"> Student Records Processing </a> </td>
																				<td> <a href="../elements/679e6ce2-0f57-4be8-8a9f-ecb6bfbebe8f.html" target="element"> Financial Aid </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/e0acbd1e-b101-4931-b311-1edb4dc17c88.html" target="element">  </a> </td>
																				<td> <a href="../elements/e0acbd1e-b101-4931-b311-1edb4dc17c88.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/1ab14be9-2adb-4ddb-bdea-844fc7ccac79.html" target="element"> Student Records Processing </a> </td>
																				<td> <a href="../elements/85921317-4d32-4771-aadd-73065874cb5b.html" target="element"> International Payment </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a1ccba400ea040d8a4495dcd74ffe141.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a1ccba400ea040d8a4495dcd74ffe141.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/1ab14be9-2adb-4ddb-bdea-844fc7ccac79.html" target="element"> Student Records Processing </a> </td>
																				<td> <a href="../elements/f22b48dc-1f14-4ebd-a22f-d2dbc7d79b02.html" target="element"> Employment </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/66d1ba5e-9879-4ba7-80ae-24ac15d5cb92.html" target="element">  </a> </td>
																		<td> <a href="../elements/66d1ba5e-9879-4ba7-80ae-24ac15d5cb92.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/75a8e749-7599-4b44-bd83-f793ef4a9126.html" target="element"> Workday HRM and Payroll </a> </td>
																		<td> <a href="../elements/e9952ec0-576d-434d-a541-84152eff850b.html" target="element"> General Ledger </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/60cc2df5-85e0-43a0-baa2-ae5e20925a6a.html" target="element">  </a> </td>
																		<td> <a href="../elements/60cc2df5-85e0-43a0-baa2-ae5e20925a6a.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/75a8e749-7599-4b44-bd83-f793ef4a9126.html" target="element"> Workday HRM and Payroll </a> </td>
																		<td> <a href="../elements/f43cdf67-f287-45f6-8872-8ed2e7896aec.html" target="element"> Payroll Processing </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3bcc61d4-ecbb-4aef-9813-22930899ce52.html" target="element">  </a> </td>
																		<td> <a href="../elements/3bcc61d4-ecbb-4aef-9813-22930899ce52.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/75a8e749-7599-4b44-bd83-f793ef4a9126.html" target="element"> Workday HRM and Payroll </a> </td>
																		<td> <a href="../elements/05b3d435-1595-4d30-a050-7fa103855828.html" target="element"> Time and Attendance </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/277eb1ff-7f1b-457a-b2b1-3876691e0b33.html" target="element">  </a> </td>
																		<td> <a href="../elements/277eb1ff-7f1b-457a-b2b1-3876691e0b33.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/75a8e749-7599-4b44-bd83-f793ef4a9126.html" target="element"> Workday HRM and Payroll </a> </td>
																		<td> <a href="../elements/f22b48dc-1f14-4ebd-a22f-d2dbc7d79b02.html" target="element"> Employment </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/5fbac5ea-2291-4908-881d-68bb340f084c.html" target="element">  </a> </td>
																				<td> <a href="../elements/5fbac5ea-2291-4908-881d-68bb340f084c.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/f43cdf67-f287-45f6-8872-8ed2e7896aec.html" target="element"> Payroll Processing </a> </td>
																				<td> <a href="../elements/e9952ec0-576d-434d-a541-84152eff850b.html" target="element"> General Ledger </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/1803130b-52cc-43b2-9e00-bee69adbea42.html" target="element">  </a> </td>
																				<td> <a href="../elements/1803130b-52cc-43b2-9e00-bee69adbea42.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/05b3d435-1595-4d30-a050-7fa103855828.html" target="element"> Time and Attendance </a> </td>
																				<td> <a href="../elements/f43cdf67-f287-45f6-8872-8ed2e7896aec.html" target="element"> Payroll Processing </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/d71afecf-22f9-4f44-9005-a298147169f1.html" target="element">  </a> </td>
																				<td> <a href="../elements/d71afecf-22f9-4f44-9005-a298147169f1.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/f22b48dc-1f14-4ebd-a22f-d2dbc7d79b02.html" target="element"> Employment </a> </td>
																				<td> <a href="../elements/05b3d435-1595-4d30-a050-7fa103855828.html" target="element"> Time and Attendance </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/3e88aee8-e0d7-4a39-8a1f-be9a49e5e15f.html" target="element">  </a> </td>
																				<td> <a href="../elements/3e88aee8-e0d7-4a39-8a1f-be9a49e5e15f.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/f22b48dc-1f14-4ebd-a22f-d2dbc7d79b02.html" target="element"> Employment </a> </td>
																				<td> <a href="../elements/6e1780b7-2856-435e-ac39-888e34275395.html" target="element"> Payment Gateway </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-93a20bf70f904a49a0d555d4b97435ca.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-93a20bf70f904a49a0d555d4b97435ca.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/id-7e226d8fd3584e7692a14895a86e8e1a.html" target="element"> Student Hub </a> </td>
																		<td> <a href="../elements/fe7b924a-aaf2-4029-a9ba-620b94557def.html" target="element"> Student Refund Processing </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>