<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Organization Tree View - Finance and Administration</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Organization Tree View - Finance and Administration</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/93aa95f7-3308-43ef-9988-bf7cff9545e0.png" alt="Organization Tree View - Finance and Administration" usemap="#93aa95f7-3308-43ef-9988-bf7cff9545e0map"/>
			   <map name="93aa95f7-3308-43ef-9988-bf7cff9545e0map">
				  		<area shape="rect" coords="668,428,908,538" href="../elements/id-d3ff21562d7e42e7afb96084cf81d98a.html"  target="element">
				  		<area shape="rect" coords="668,20,908,130" href="../views/b792de2a-f632-49cb-aae5-9ae6d9949cd4.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="1340,428,1580,538" href="../elements/c2f452f4-a899-4af9-96ef-8739e936b28d.html"  target="element">
				  		<area shape="rect" coords="1004,428,1244,538" href="../elements/97cc2421-8c00-4b0b-8cac-634787933ee7.html"  target="element">
				  		<area shape="rect" coords="332,428,572,538" href="../elements/d1cdb16f-d50e-46e7-9ab7-46e3057acfe3.html"  target="element">
				  		<area shape="rect" coords="20,428,260,538" href="../elements/cc6d94eb-04fb-4619-bce7-708f1d62dc59.html"  target="element">
				  		<area shape="rect" coords="668,164,908,274" href="../elements/32ac75f9-3424-4b20-96f4-affce80952bd.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/32ac75f9-3424-4b20-96f4-affce80952bd.html" target="element"> Finance and Administration </a> </td>
											    <td> <a href="../elements/32ac75f9-3424-4b20-96f4-affce80952bd.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/cc6d94eb-04fb-4619-bce7-708f1d62dc59.html" target="element"> Planning, Real Estate and Facilities </a> </td>
											    <td> <a href="../elements/cc6d94eb-04fb-4619-bce7-708f1d62dc59.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d1cdb16f-d50e-46e7-9ab7-46e3057acfe3.html" target="element"> Human Resources Management </a> </td>
											    <td> <a href="../elements/d1cdb16f-d50e-46e7-9ab7-46e3057acfe3.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/97cc2421-8c00-4b0b-8cac-634787933ee7.html" target="element"> Finance &amp; Treasury </a> </td>
											    <td> <a href="../elements/97cc2421-8c00-4b0b-8cac-634787933ee7.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c2f452f4-a899-4af9-96ef-8739e936b28d.html" target="element"> Audit and Advisory Services </a> </td>
											    <td> <a href="../elements/c2f452f4-a899-4af9-96ef-8739e936b28d.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../views/b792de2a-f632-49cb-aae5-9ae6d9949cd4.html" target="view"> Organization Tree View </a> </td>
											    <td> <a href="../views/b792de2a-f632-49cb-aae5-9ae6d9949cd4.html" target="view" class="i18n-viewpoint-organization"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../elements/id-d3ff21562d7e42e7afb96084cf81d98a.html" target="element"> Financial Planning </a> </td>
											    <td> <a href="../elements/id-d3ff21562d7e42e7afb96084cf81d98a.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/16535157-1656-41ba-864a-e26eeef0c3ee.html" target="element">  </a> </td>
																		<td> <a href="../elements/16535157-1656-41ba-864a-e26eeef0c3ee.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/32ac75f9-3424-4b20-96f4-affce80952bd.html" target="element"> Finance and Administration </a> </td>
																		<td> <a href="../elements/cc6d94eb-04fb-4619-bce7-708f1d62dc59.html" target="element"> Planning, Real Estate and Facilities </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/13768fbe-b33d-411f-b20c-7b2ade36158a.html" target="element">  </a> </td>
																		<td> <a href="../elements/13768fbe-b33d-411f-b20c-7b2ade36158a.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/32ac75f9-3424-4b20-96f4-affce80952bd.html" target="element"> Finance and Administration </a> </td>
																		<td> <a href="../elements/d1cdb16f-d50e-46e7-9ab7-46e3057acfe3.html" target="element"> Human Resources Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0c8315a7-901a-48da-a6a7-ea65e1ac7685.html" target="element">  </a> </td>
																		<td> <a href="../elements/0c8315a7-901a-48da-a6a7-ea65e1ac7685.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/32ac75f9-3424-4b20-96f4-affce80952bd.html" target="element"> Finance and Administration </a> </td>
																		<td> <a href="../elements/97cc2421-8c00-4b0b-8cac-634787933ee7.html" target="element"> Finance &amp; Treasury </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/fa4c6316-628a-44a7-b4db-889a2c6a3adb.html" target="element">  </a> </td>
																		<td> <a href="../elements/fa4c6316-628a-44a7-b4db-889a2c6a3adb.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/32ac75f9-3424-4b20-96f4-affce80952bd.html" target="element"> Finance and Administration </a> </td>
																		<td> <a href="../elements/c2f452f4-a899-4af9-96ef-8739e936b28d.html" target="element"> Audit and Advisory Services </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1c757a30a0ef4f25b2726891bb8ea656.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1c757a30a0ef4f25b2726891bb8ea656.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/32ac75f9-3424-4b20-96f4-affce80952bd.html" target="element"> Finance and Administration </a> </td>
																		<td> <a href="../elements/id-d3ff21562d7e42e7afb96084cf81d98a.html" target="element"> Financial Planning </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>