<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Organization Tree View</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Organization Tree View</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-organization"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_organization" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/b792de2a-f632-49cb-aae5-9ae6d9949cd4.png" alt="Organization Tree View" usemap="#b792de2a-f632-49cb-aae5-9ae6d9949cd4map"/>
			   <map name="b792de2a-f632-49cb-aae5-9ae6d9949cd4map">
				  				<area shape="rect" coords="1772,260,2012,370" href="../views/id-c60e436d37874e89b9546549e155b626.html"  target="view">
				  		    <!-- Other diagram objects -->

				  		<area shape="rect" coords="1772,260,2012,370" href="../elements/id-478656d960bf4a0bbfb666eff47770b1.html"  target="element">
				  				<area shape="rect" coords="20,260,260,370" href="../views/ddd86e99-527b-4273-907c-c6df19f774ec.html"  target="view">
				  		    <!-- Other diagram objects -->

				  		<area shape="rect" coords="20,260,260,370" href="../elements/832cddee-cf39-480c-bcbd-e4e8f1af26b4.html"  target="element">
				  				<area shape="rect" coords="1508,260,1748,370" href="../views/81c0c0e2-ec8d-4beb-bbc1-8a97ee938254.html"  target="view">
				  		    <!-- Other diagram objects -->

				  		<area shape="rect" coords="1508,260,1748,370" href="../elements/4bfbf0a7-b207-4551-88ad-04fc0cf00824.html"  target="element">
				  				<area shape="rect" coords="1244,260,1484,370" href="../views/d6f6e90d-40dc-4c69-95db-5113df9051a4.html"  target="view">
				  		    <!-- Other diagram objects -->

				  		<area shape="rect" coords="1244,260,1484,370" href="../elements/ef5c5239-faee-4d70-a01b-2096cf0735fe.html"  target="element">
				  				<area shape="rect" coords="932,260,1172,370" href="../views/e0e608a7-98c4-46c8-8973-3b30f7036ed1.html"  target="view">
				  		    <!-- Other diagram objects -->

				  		<area shape="rect" coords="932,260,1172,370" href="../elements/29e70628-916b-4b96-9fe8-7773eb05a5cd.html"  target="element">
				  				<area shape="rect" coords="620,260,860,370" href="../views/e8dc7861-a76e-4b68-a2ec-7d6f563924ec.html"  target="view">
				  		    <!-- Other diagram objects -->

				  		<area shape="rect" coords="620,260,860,370" href="../elements/351e65e5-01b4-4e3d-9264-cbecfcf90b90.html"  target="element">
				  				<area shape="rect" coords="308,260,548,370" href="../views/93aa95f7-3308-43ef-9988-bf7cff9545e0.html"  target="view">
				  		    <!-- Other diagram objects -->

				  		<area shape="rect" coords="308,260,548,370" href="../elements/32ac75f9-3424-4b20-96f4-affce80952bd.html"  target="element">
				  		<area shape="rect" coords="932,20,1172,130" href="../elements/e4f51c66-47cf-4c0f-882f-6b2da3e0df2d.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/e4f51c66-47cf-4c0f-882f-6b2da3e0df2d.html" target="element"> President's Office </a> </td>
											    <td> <a href="../elements/e4f51c66-47cf-4c0f-882f-6b2da3e0df2d.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/32ac75f9-3424-4b20-96f4-affce80952bd.html" target="element"> Finance and Administration </a> </td>
											    <td> <a href="../elements/32ac75f9-3424-4b20-96f4-affce80952bd.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../views/93aa95f7-3308-43ef-9988-bf7cff9545e0.html" target="view"> Organization Tree View - Finance and Administration </a> </td>
													    <td> <a href="../views/93aa95f7-3308-43ef-9988-bf7cff9545e0.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

											
											<tr>
											    <td> <a href="../elements/351e65e5-01b4-4e3d-9264-cbecfcf90b90.html" target="element"> Chancellor's Office </a> </td>
											    <td> <a href="../elements/351e65e5-01b4-4e3d-9264-cbecfcf90b90.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../views/e8dc7861-a76e-4b68-a2ec-7d6f563924ec.html" target="view"> Organization Tree View - Chancellor </a> </td>
													    <td> <a href="../views/e8dc7861-a76e-4b68-a2ec-7d6f563924ec.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

											
											<tr>
											    <td> <a href="../elements/29e70628-916b-4b96-9fe8-7773eb05a5cd.html" target="element"> External Affairs </a> </td>
											    <td> <a href="../elements/29e70628-916b-4b96-9fe8-7773eb05a5cd.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../views/e0e608a7-98c4-46c8-8973-3b30f7036ed1.html" target="view"> Organization Tree View - External Affairs </a> </td>
													    <td> <a href="../views/e0e608a7-98c4-46c8-8973-3b30f7036ed1.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

											
											<tr>
											    <td> <a href="../elements/ef5c5239-faee-4d70-a01b-2096cf0735fe.html" target="element"> University Advancement </a> </td>
											    <td> <a href="../elements/ef5c5239-faee-4d70-a01b-2096cf0735fe.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../views/d6f6e90d-40dc-4c69-95db-5113df9051a4.html" target="view"> Organization Tree View - Advancement </a> </td>
													    <td> <a href="../views/d6f6e90d-40dc-4c69-95db-5113df9051a4.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

											
											<tr>
											    <td> <a href="../elements/4bfbf0a7-b207-4551-88ad-04fc0cf00824.html" target="element"> University General Counsel </a> </td>
											    <td> <a href="../elements/4bfbf0a7-b207-4551-88ad-04fc0cf00824.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../views/81c0c0e2-ec8d-4beb-bbc1-8a97ee938254.html" target="view"> Organization Tree View - General Counsel </a> </td>
													    <td> <a href="../views/81c0c0e2-ec8d-4beb-bbc1-8a97ee938254.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

											
											<tr>
											    <td> <a href="../elements/832cddee-cf39-480c-bcbd-e4e8f1af26b4.html" target="element"> Provost's Office </a> </td>
											    <td> <a href="../elements/832cddee-cf39-480c-bcbd-e4e8f1af26b4.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../views/ddd86e99-527b-4273-907c-c6df19f774ec.html" target="view"> Organization Tree View - Provost </a> </td>
													    <td> <a href="../views/ddd86e99-527b-4273-907c-c6df19f774ec.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

											
											<tr>
											    <td> <a href="../elements/id-478656d960bf4a0bbfb666eff47770b1.html" target="element"> Global Network and Strategic Initiatives </a> </td>
											    <td> <a href="../elements/id-478656d960bf4a0bbfb666eff47770b1.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../views/id-c60e436d37874e89b9546549e155b626.html" target="view"> Organization Tree View - GNSI </a> </td>
													    <td> <a href="../views/id-c60e436d37874e89b9546549e155b626.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/41e8c02f-c70c-4cce-86bf-6027ddcc9bc8.html" target="element">  </a> </td>
																		<td> <a href="../elements/41e8c02f-c70c-4cce-86bf-6027ddcc9bc8.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/e4f51c66-47cf-4c0f-882f-6b2da3e0df2d.html" target="element"> President's Office </a> </td>
																		<td> <a href="../elements/32ac75f9-3424-4b20-96f4-affce80952bd.html" target="element"> Finance and Administration </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/886f4572-59ee-4de3-8f31-fd4759bc6caf.html" target="element">  </a> </td>
																		<td> <a href="../elements/886f4572-59ee-4de3-8f31-fd4759bc6caf.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/e4f51c66-47cf-4c0f-882f-6b2da3e0df2d.html" target="element"> President's Office </a> </td>
																		<td> <a href="../elements/351e65e5-01b4-4e3d-9264-cbecfcf90b90.html" target="element"> Chancellor's Office </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3295e96a-b658-4f4a-b3e3-822916bf24a0.html" target="element">  </a> </td>
																		<td> <a href="../elements/3295e96a-b658-4f4a-b3e3-822916bf24a0.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/e4f51c66-47cf-4c0f-882f-6b2da3e0df2d.html" target="element"> President's Office </a> </td>
																		<td> <a href="../elements/29e70628-916b-4b96-9fe8-7773eb05a5cd.html" target="element"> External Affairs </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/aeee5a08-0680-4d64-a904-729b3acfc430.html" target="element">  </a> </td>
																		<td> <a href="../elements/aeee5a08-0680-4d64-a904-729b3acfc430.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/e4f51c66-47cf-4c0f-882f-6b2da3e0df2d.html" target="element"> President's Office </a> </td>
																		<td> <a href="../elements/ef5c5239-faee-4d70-a01b-2096cf0735fe.html" target="element"> University Advancement </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/03219735-c471-46f2-ae1e-c03f99ba6412.html" target="element">  </a> </td>
																		<td> <a href="../elements/03219735-c471-46f2-ae1e-c03f99ba6412.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/e4f51c66-47cf-4c0f-882f-6b2da3e0df2d.html" target="element"> President's Office </a> </td>
																		<td> <a href="../elements/832cddee-cf39-480c-bcbd-e4e8f1af26b4.html" target="element"> Provost's Office </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/78923ecd-e7cf-45b9-b673-eaa7f7e9f821.html" target="element">  </a> </td>
																		<td> <a href="../elements/78923ecd-e7cf-45b9-b673-eaa7f7e9f821.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/e4f51c66-47cf-4c0f-882f-6b2da3e0df2d.html" target="element"> President's Office </a> </td>
																		<td> <a href="../elements/4bfbf0a7-b207-4551-88ad-04fc0cf00824.html" target="element"> University General Counsel </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6a14c7285601442da7b6373db5f0a9fc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6a14c7285601442da7b6373db5f0a9fc.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/e4f51c66-47cf-4c0f-882f-6b2da3e0df2d.html" target="element"> President's Office </a> </td>
																		<td> <a href="../elements/id-478656d960bf4a0bbfb666eff47770b1.html" target="element"> Global Network and Strategic Initiatives </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>