<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Catalog</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Catalog</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/bb0a436c-22fc-436e-a526-6139f30edca7.png" alt="Catalog" usemap="#bb0a436c-22fc-436e-a526-6139f30edca7map"/>
			   <map name="bb0a436c-22fc-436e-a526-6139f30edca7map">
				  		<area shape="rect" coords="1364,20,1604,130" href="../elements/727df32e-053a-43ca-b8dd-5a122131a960.html"  target="element">
				  		<area shape="rect" coords="332,20,572,130" href="../elements/070b39c8-7d3b-4143-ad8e-d75cd6e4476f.html"  target="element">
				  		<area shape="rect" coords="1364,1172,1604,1282" href="../elements/01b0f74f-acf8-4286-b614-d0cef63e71bf.html"  target="element">
				  		<area shape="rect" coords="20,956,260,1066" href="../elements/5a4b8b2c-355b-4cef-9b71-5c476633174b.html"  target="element">
				  		<area shape="rect" coords="1724,956,1964,1066" href="../elements/0f852cd1-8150-4286-89b6-32bd95a4105f.html"  target="element">
				  		<area shape="rect" coords="1724,716,1964,826" href="../elements/21ced0d1-5125-46d4-821a-ec2adce397b5.html"  target="element">
				  		<area shape="rect" coords="20,1172,260,1282" href="../elements/5f6ca1c3-fd8c-4f5a-a330-95a4522676fb.html"  target="element">
				  		<area shape="rect" coords="22,716,262,826" href="../elements/21ced0d1-5125-46d4-821a-ec2adce397b5.html"  target="element">
				  		<area shape="rect" coords="1724,236,1964,346" href="../elements/d10385b5-c3f1-45f4-a3a9-cb8cbbaafca2.html"  target="element">
				  		<area shape="rect" coords="1724,20,1964,130" href="../elements/030e6211-c103-43d1-98a9-0a91c3dc0f58.html"  target="element">
				  		<area shape="rect" coords="20,236,260,346" href="../elements/89559d56-29b7-4145-996f-b319def3c704.html"  target="element">
				  		<area shape="rect" coords="1724,476,1964,586" href="../elements/5ea39533-ad78-424c-af80-950c23dde23d.html"  target="element">
				  		<area shape="rect" coords="1724,1172,1964,1282" href="../elements/9c3e1275-63cc-488e-a6e1-6200902ea001.html"  target="element">
				  		<area shape="rect" coords="1028,1172,1268,1282" href="../elements/b4a62fa9-805b-4855-8061-3fbd33f8ab8d.html"  target="element">
				  		<area shape="rect" coords="716,1172,956,1282" href="../elements/a65ffd78-8b08-47d0-ab3f-ec679177777b.html"  target="element">
				  		<area shape="rect" coords="668,20,908,130" href="../elements/d6129289-dde2-474f-ac8c-d8d368bbbe69.html"  target="element">
				  		<area shape="rect" coords="380,1172,620,1282" href="../elements/785d6d6b-8402-41aa-9720-9da58c973863.html"  target="element">
				  		<area shape="rect" coords="22,476,262,586" href="../elements/9e0318cf-8f01-43b3-ae13-a8a15dafccc1.html"  target="element">
				  		<area shape="rect" coords="1028,20,1268,130" href="../elements/c6004a52-3bab-4882-9cb6-97592afe0aa1.html"  target="element">
				  		<area shape="rect" coords="20,20,260,130" href="../elements/55780673-8a16-4ad1-a3c5-35945b57c923.html"  target="element">
				  		<area shape="rect" coords="860,572,1100,682" href="../elements/6078be59-1246-4501-abbe-a9ee81c47b53.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/6078be59-1246-4501-abbe-a9ee81c47b53.html" target="element"> Courses (SCBCRSE) </a> </td>
											    <td> <a href="../elements/6078be59-1246-4501-abbe-a9ee81c47b53.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/55780673-8a16-4ad1-a3c5-35945b57c923.html" target="element"> Equivalent Courses (SCREQIV) </a> </td>
											    <td> <a href="../elements/55780673-8a16-4ad1-a3c5-35945b57c923.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c6004a52-3bab-4882-9cb6-97592afe0aa1.html" target="element"> Course Grade Modes (SGRGMOD) </a> </td>
											    <td> <a href="../elements/c6004a52-3bab-4882-9cb6-97592afe0aa1.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9e0318cf-8f01-43b3-ae13-a8a15dafccc1.html" target="element"> Course Integration Partner (SGRINTG) </a> </td>
											    <td> <a href="../elements/9e0318cf-8f01-43b3-ae13-a8a15dafccc1.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/785d6d6b-8402-41aa-9720-9da58c973863.html" target="element"> Course Level Restrictions (SCRRLVL) </a> </td>
											    <td> <a href="../elements/785d6d6b-8402-41aa-9720-9da58c973863.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d6129289-dde2-474f-ac8c-d8d368bbbe69.html" target="element"> Course Levels (SCRLEVL) </a> </td>
											    <td> <a href="../elements/d6129289-dde2-474f-ac8c-d8d368bbbe69.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a65ffd78-8b08-47d0-ab3f-ec679177777b.html" target="element"> Course Class Restrictions (SCRRCLS) </a> </td>
											    <td> <a href="../elements/a65ffd78-8b08-47d0-ab3f-ec679177777b.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b4a62fa9-805b-4855-8061-3fbd33f8ab8d.html" target="element"> Course College Restrictions (SCRRCOL) </a> </td>
											    <td> <a href="../elements/b4a62fa9-805b-4855-8061-3fbd33f8ab8d.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9c3e1275-63cc-488e-a6e1-6200902ea001.html" target="element"> Course Major Restrictions (SCRRMAJ) </a> </td>
											    <td> <a href="../elements/9c3e1275-63cc-488e-a6e1-6200902ea001.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5ea39533-ad78-424c-af80-950c23dde23d.html" target="element"> Course Text (SCRTEXT) </a> </td>
											    <td> <a href="../elements/5ea39533-ad78-424c-af80-950c23dde23d.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/89559d56-29b7-4145-996f-b319def3c704.html" target="element"> Course Schedule Type (SCRSCHD) </a> </td>
											    <td> <a href="../elements/89559d56-29b7-4145-996f-b319def3c704.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/030e6211-c103-43d1-98a9-0a91c3dc0f58.html" target="element"> Course Attributes (SCRATTR) </a> </td>
											    <td> <a href="../elements/030e6211-c103-43d1-98a9-0a91c3dc0f58.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d10385b5-c3f1-45f4-a3a9-cb8cbbaafca2.html" target="element"> Course Co-Requisites (SCRCORQ) </a> </td>
											    <td> <a href="../elements/d10385b5-c3f1-45f4-a3a9-cb8cbbaafca2.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/21ced0d1-5125-46d4-821a-ec2adce397b5.html" target="element"> Course Campus Restrictions (SCRRCMP) </a> </td>
											    <td> <a href="../elements/21ced0d1-5125-46d4-821a-ec2adce397b5.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5f6ca1c3-fd8c-4f5a-a330-95a4522676fb.html" target="element"> Course Degree Restrictions (SCRRDEG) </a> </td>
											    <td> <a href="../elements/5f6ca1c3-fd8c-4f5a-a330-95a4522676fb.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/21ced0d1-5125-46d4-821a-ec2adce397b5.html" target="element"> Course Campus Restrictions (SCRRCMP) </a> </td>
											    <td> <a href="../elements/21ced0d1-5125-46d4-821a-ec2adce397b5.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0f852cd1-8150-4286-89b6-32bd95a4105f.html" target="element"> Course Term Restrictions (SCRRTRM) </a> </td>
											    <td> <a href="../elements/0f852cd1-8150-4286-89b6-32bd95a4105f.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5a4b8b2c-355b-4cef-9b71-5c476633174b.html" target="element"> Course Prequisites (SCRRTST) </a> </td>
											    <td> <a href="../elements/5a4b8b2c-355b-4cef-9b71-5c476633174b.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/01b0f74f-acf8-4286-b614-d0cef63e71bf.html" target="element"> Course Description (SCBDESC) </a> </td>
											    <td> <a href="../elements/01b0f74f-acf8-4286-b614-d0cef63e71bf.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/070b39c8-7d3b-4143-ad8e-d75cd6e4476f.html" target="element"> Course Syllabus Long Name (SCRCYLN) </a> </td>
											    <td> <a href="../elements/070b39c8-7d3b-4143-ad8e-d75cd6e4476f.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/727df32e-053a-43ca-b8dd-5a122131a960.html" target="element"> Course Area Restrictions (SCRRARE) </a> </td>
											    <td> <a href="../elements/727df32e-053a-43ca-b8dd-5a122131a960.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/6ffd861a-57d3-4f56-8b9d-b1e6da865937.html" target="element">  </a> </td>
																		<td> <a href="../elements/6ffd861a-57d3-4f56-8b9d-b1e6da865937.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/6078be59-1246-4501-abbe-a9ee81c47b53.html" target="element"> Courses (SCBCRSE) </a> </td>
																		<td> <a href="../elements/55780673-8a16-4ad1-a3c5-35945b57c923.html" target="element"> Equivalent Courses (SCREQIV) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ad83ec53-d61b-4285-acf7-6b7aaa924cb5.html" target="element">  </a> </td>
																		<td> <a href="../elements/ad83ec53-d61b-4285-acf7-6b7aaa924cb5.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/6078be59-1246-4501-abbe-a9ee81c47b53.html" target="element"> Courses (SCBCRSE) </a> </td>
																		<td> <a href="../elements/c6004a52-3bab-4882-9cb6-97592afe0aa1.html" target="element"> Course Grade Modes (SGRGMOD) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/360fe60e-e23e-44af-80bf-f80576d2ac0e.html" target="element">  </a> </td>
																		<td> <a href="../elements/360fe60e-e23e-44af-80bf-f80576d2ac0e.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/6078be59-1246-4501-abbe-a9ee81c47b53.html" target="element"> Courses (SCBCRSE) </a> </td>
																		<td> <a href="../elements/9e0318cf-8f01-43b3-ae13-a8a15dafccc1.html" target="element"> Course Integration Partner (SGRINTG) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/dd87e55a-8006-4038-881a-7021f7fc70dc.html" target="element">  </a> </td>
																		<td> <a href="../elements/dd87e55a-8006-4038-881a-7021f7fc70dc.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/6078be59-1246-4501-abbe-a9ee81c47b53.html" target="element"> Courses (SCBCRSE) </a> </td>
																		<td> <a href="../elements/785d6d6b-8402-41aa-9720-9da58c973863.html" target="element"> Course Level Restrictions (SCRRLVL) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b2070aac-7808-4f28-9ce6-61e2b8df85c9.html" target="element">  </a> </td>
																		<td> <a href="../elements/b2070aac-7808-4f28-9ce6-61e2b8df85c9.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/6078be59-1246-4501-abbe-a9ee81c47b53.html" target="element"> Courses (SCBCRSE) </a> </td>
																		<td> <a href="../elements/d6129289-dde2-474f-ac8c-d8d368bbbe69.html" target="element"> Course Levels (SCRLEVL) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/10af077f-c79d-4daa-8eae-3fcca5155d81.html" target="element">  </a> </td>
																		<td> <a href="../elements/10af077f-c79d-4daa-8eae-3fcca5155d81.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/6078be59-1246-4501-abbe-a9ee81c47b53.html" target="element"> Courses (SCBCRSE) </a> </td>
																		<td> <a href="../elements/b4a62fa9-805b-4855-8061-3fbd33f8ab8d.html" target="element"> Course College Restrictions (SCRRCOL) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ea05fd71-f398-4f47-83f3-ce3ec03afc8d.html" target="element">  </a> </td>
																		<td> <a href="../elements/ea05fd71-f398-4f47-83f3-ce3ec03afc8d.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/6078be59-1246-4501-abbe-a9ee81c47b53.html" target="element"> Courses (SCBCRSE) </a> </td>
																		<td> <a href="../elements/a65ffd78-8b08-47d0-ab3f-ec679177777b.html" target="element"> Course Class Restrictions (SCRRCLS) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/07cabf51-4ad7-4fb8-8c09-a71e2e12c54c.html" target="element">  </a> </td>
																		<td> <a href="../elements/07cabf51-4ad7-4fb8-8c09-a71e2e12c54c.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/6078be59-1246-4501-abbe-a9ee81c47b53.html" target="element"> Courses (SCBCRSE) </a> </td>
																		<td> <a href="../elements/5ea39533-ad78-424c-af80-950c23dde23d.html" target="element"> Course Text (SCRTEXT) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2efdfb4b-11d6-4503-9848-8063330a9595.html" target="element">  </a> </td>
																		<td> <a href="../elements/2efdfb4b-11d6-4503-9848-8063330a9595.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/6078be59-1246-4501-abbe-a9ee81c47b53.html" target="element"> Courses (SCBCRSE) </a> </td>
																		<td> <a href="../elements/9c3e1275-63cc-488e-a6e1-6200902ea001.html" target="element"> Course Major Restrictions (SCRRMAJ) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e174fc5a-ea1a-4df1-9fed-2decbf2998b3.html" target="element">  </a> </td>
																		<td> <a href="../elements/e174fc5a-ea1a-4df1-9fed-2decbf2998b3.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/6078be59-1246-4501-abbe-a9ee81c47b53.html" target="element"> Courses (SCBCRSE) </a> </td>
																		<td> <a href="../elements/89559d56-29b7-4145-996f-b319def3c704.html" target="element"> Course Schedule Type (SCRSCHD) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/901e67d1-c04d-45d4-80ce-9a2a4145de2e.html" target="element">  </a> </td>
																		<td> <a href="../elements/901e67d1-c04d-45d4-80ce-9a2a4145de2e.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/6078be59-1246-4501-abbe-a9ee81c47b53.html" target="element"> Courses (SCBCRSE) </a> </td>
																		<td> <a href="../elements/030e6211-c103-43d1-98a9-0a91c3dc0f58.html" target="element"> Course Attributes (SCRATTR) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/5b02de35-aed4-44dc-a619-799842699830.html" target="element">  </a> </td>
																		<td> <a href="../elements/5b02de35-aed4-44dc-a619-799842699830.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/6078be59-1246-4501-abbe-a9ee81c47b53.html" target="element"> Courses (SCBCRSE) </a> </td>
																		<td> <a href="../elements/d10385b5-c3f1-45f4-a3a9-cb8cbbaafca2.html" target="element"> Course Co-Requisites (SCRCORQ) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/1fb1b667-a74a-4de8-b236-dda5a18a8d0d.html" target="element">  </a> </td>
																		<td> <a href="../elements/1fb1b667-a74a-4de8-b236-dda5a18a8d0d.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/6078be59-1246-4501-abbe-a9ee81c47b53.html" target="element"> Courses (SCBCRSE) </a> </td>
																		<td> <a href="../elements/21ced0d1-5125-46d4-821a-ec2adce397b5.html" target="element"> Course Campus Restrictions (SCRRCMP) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0b9739df-547f-4212-919e-cf642ead3693.html" target="element">  </a> </td>
																		<td> <a href="../elements/0b9739df-547f-4212-919e-cf642ead3693.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/6078be59-1246-4501-abbe-a9ee81c47b53.html" target="element"> Courses (SCBCRSE) </a> </td>
																		<td> <a href="../elements/0f852cd1-8150-4286-89b6-32bd95a4105f.html" target="element"> Course Term Restrictions (SCRRTRM) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ac77d0dd-1895-4a5d-b1c3-2970a2d21dc9.html" target="element">  </a> </td>
																		<td> <a href="../elements/ac77d0dd-1895-4a5d-b1c3-2970a2d21dc9.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/6078be59-1246-4501-abbe-a9ee81c47b53.html" target="element"> Courses (SCBCRSE) </a> </td>
																		<td> <a href="../elements/5f6ca1c3-fd8c-4f5a-a330-95a4522676fb.html" target="element"> Course Degree Restrictions (SCRRDEG) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/1fb1b667-a74a-4de8-b236-dda5a18a8d0d.html" target="element">  </a> </td>
																		<td> <a href="../elements/1fb1b667-a74a-4de8-b236-dda5a18a8d0d.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/6078be59-1246-4501-abbe-a9ee81c47b53.html" target="element"> Courses (SCBCRSE) </a> </td>
																		<td> <a href="../elements/21ced0d1-5125-46d4-821a-ec2adce397b5.html" target="element"> Course Campus Restrictions (SCRRCMP) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/df96bb6f-24c2-4ab1-8483-a0fd3e0c4ecd.html" target="element">  </a> </td>
																		<td> <a href="../elements/df96bb6f-24c2-4ab1-8483-a0fd3e0c4ecd.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/6078be59-1246-4501-abbe-a9ee81c47b53.html" target="element"> Courses (SCBCRSE) </a> </td>
																		<td> <a href="../elements/070b39c8-7d3b-4143-ad8e-d75cd6e4476f.html" target="element"> Course Syllabus Long Name (SCRCYLN) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/40663ab6-c8bd-427a-ac2c-e8e70a0f38e6.html" target="element">  </a> </td>
																		<td> <a href="../elements/40663ab6-c8bd-427a-ac2c-e8e70a0f38e6.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/6078be59-1246-4501-abbe-a9ee81c47b53.html" target="element"> Courses (SCBCRSE) </a> </td>
																		<td> <a href="../elements/727df32e-053a-43ca-b8dd-5a122131a960.html" target="element"> Course Area Restrictions (SCRRARE) </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>