<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>General Person</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>General Person</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/cc06ff5d-a306-45ca-bb2d-36302f5aabb8.png" alt="General Person" usemap="#cc06ff5d-a306-45ca-bb2d-36302f5aabb8map"/>
			   <map name="cc06ff5d-a306-45ca-bb2d-36302f5aabb8map">
				  		<area shape="rect" coords="1460,20,1700,130" href="../elements/9718bd53-1f97-4130-81f6-02ffc4c9d163.html"  target="element">
				  		<area shape="rect" coords="20,452,260,562" href="../elements/459e33db-e0ec-469a-a211-a7673d37d3f5.html"  target="element">
				  		<area shape="rect" coords="20,20,260,130" href="../elements/589000e0-2f39-470e-a20c-170f606c82b3.html"  target="element">
				  		<area shape="rect" coords="1076,452,1316,562" href="../elements/17eb96cc-0944-4f4a-a0c5-7ca09dc26e89.html"  target="element">
				  		<area shape="rect" coords="1076,20,1316,130" href="../elements/fd68f7be-e0ff-4fd1-abd3-ba34f5fd389b.html"  target="element">
				  		<area shape="rect" coords="380,20,620,130" href="../elements/08c3f2ea-9901-4482-8019-248c6dd1bd03.html"  target="element">
				  		<area shape="rect" coords="380,452,620,562" href="../elements/31f65512-2dca-4404-835f-a3b2ee33bcb7.html"  target="element">
				  		<area shape="rect" coords="380,236,620,346" href="../elements/869f7641-e191-4e28-8d94-2ec2561aa0c3.html"  target="element">
				  		<area shape="rect" coords="716,452,956,562" href="../elements/31ba5e04-ccae-4b46-b770-ac52caad8e6e.html"  target="element">
				  		<area shape="rect" coords="732,236,972,346" href="../elements/9855f234-5338-4196-b0d5-c612dd99d825.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/9855f234-5338-4196-b0d5-c612dd99d825.html" target="element"> Identity (SPRIDEN) </a> </td>
											    <td> <a href="../elements/9855f234-5338-4196-b0d5-c612dd99d825.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/31ba5e04-ccae-4b46-b770-ac52caad8e6e.html" target="element"> Personal Information (SPBPERS) </a> </td>
											    <td> <a href="../elements/31ba5e04-ccae-4b46-b770-ac52caad8e6e.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/869f7641-e191-4e28-8d94-2ec2561aa0c3.html" target="element"> Alternate Identifiers (GORADID) </a> </td>
											    <td> <a href="../elements/869f7641-e191-4e28-8d94-2ec2561aa0c3.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/31f65512-2dca-4404-835f-a3b2ee33bcb7.html" target="element"> Addresses (SPRADDR) </a> </td>
											    <td> <a href="../elements/31f65512-2dca-4404-835f-a3b2ee33bcb7.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/08c3f2ea-9901-4482-8019-248c6dd1bd03.html" target="element"> Email Addresses (GOREMAL) </a> </td>
											    <td> <a href="../elements/08c3f2ea-9901-4482-8019-248c6dd1bd03.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/fd68f7be-e0ff-4fd1-abd3-ba34f5fd389b.html" target="element"> Phone Numbers (SPRTELE) </a> </td>
											    <td> <a href="../elements/fd68f7be-e0ff-4fd1-abd3-ba34f5fd389b.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/17eb96cc-0944-4f4a-a0c5-7ca09dc26e89.html" target="element"> Emergency Contact (SPREMRG) </a> </td>
											    <td> <a href="../elements/17eb96cc-0944-4f4a-a0c5-7ca09dc26e89.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/589000e0-2f39-470e-a20c-170f606c82b3.html" target="element"> Email Address Types (GTVEMAL) </a> </td>
											    <td> <a href="../elements/589000e0-2f39-470e-a20c-170f606c82b3.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/459e33db-e0ec-469a-a211-a7673d37d3f5.html" target="element"> Address Types (STVATYP) </a> </td>
											    <td> <a href="../elements/459e33db-e0ec-469a-a211-a7673d37d3f5.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9718bd53-1f97-4130-81f6-02ffc4c9d163.html" target="element"> Telephone Types (STVTELE) </a> </td>
											    <td> <a href="../elements/9718bd53-1f97-4130-81f6-02ffc4c9d163.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/65935405-ebe8-4ab9-99fb-2514b1e74cfc.html" target="element">  </a> </td>
																		<td> <a href="../elements/65935405-ebe8-4ab9-99fb-2514b1e74cfc.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/9855f234-5338-4196-b0d5-c612dd99d825.html" target="element"> Identity (SPRIDEN) </a> </td>
																		<td> <a href="../elements/08c3f2ea-9901-4482-8019-248c6dd1bd03.html" target="element"> Email Addresses (GOREMAL) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/557cdd63-32ae-419b-a2d7-2d3afaf1bebb.html" target="element">  </a> </td>
																		<td> <a href="../elements/557cdd63-32ae-419b-a2d7-2d3afaf1bebb.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/9855f234-5338-4196-b0d5-c612dd99d825.html" target="element"> Identity (SPRIDEN) </a> </td>
																		<td> <a href="../elements/869f7641-e191-4e28-8d94-2ec2561aa0c3.html" target="element"> Alternate Identifiers (GORADID) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a69c790f-5e4a-40a7-a7be-e69d1747870b.html" target="element">  </a> </td>
																		<td> <a href="../elements/a69c790f-5e4a-40a7-a7be-e69d1747870b.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/9855f234-5338-4196-b0d5-c612dd99d825.html" target="element"> Identity (SPRIDEN) </a> </td>
																		<td> <a href="../elements/fd68f7be-e0ff-4fd1-abd3-ba34f5fd389b.html" target="element"> Phone Numbers (SPRTELE) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3479cf2f-a872-4564-ad0c-81c880946416.html" target="element">  </a> </td>
																		<td> <a href="../elements/3479cf2f-a872-4564-ad0c-81c880946416.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/9855f234-5338-4196-b0d5-c612dd99d825.html" target="element"> Identity (SPRIDEN) </a> </td>
																		<td> <a href="../elements/31f65512-2dca-4404-835f-a3b2ee33bcb7.html" target="element"> Addresses (SPRADDR) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c53106d5-d428-4da4-b37a-198e661c98bb.html" target="element">  </a> </td>
																		<td> <a href="../elements/c53106d5-d428-4da4-b37a-198e661c98bb.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/9855f234-5338-4196-b0d5-c612dd99d825.html" target="element"> Identity (SPRIDEN) </a> </td>
																		<td> <a href="../elements/31ba5e04-ccae-4b46-b770-ac52caad8e6e.html" target="element"> Personal Information (SPBPERS) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/dde0d721-dc1d-4b61-9a40-63d31de671c9.html" target="element">  </a> </td>
																		<td> <a href="../elements/dde0d721-dc1d-4b61-9a40-63d31de671c9.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/31f65512-2dca-4404-835f-a3b2ee33bcb7.html" target="element"> Addresses (SPRADDR) </a> </td>
																		<td> <a href="../elements/459e33db-e0ec-469a-a211-a7673d37d3f5.html" target="element"> Address Types (STVATYP) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/12e77115-c9da-4283-ab3c-cc0e260e4d77.html" target="element">  </a> </td>
																		<td> <a href="../elements/12e77115-c9da-4283-ab3c-cc0e260e4d77.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/08c3f2ea-9901-4482-8019-248c6dd1bd03.html" target="element"> Email Addresses (GOREMAL) </a> </td>
																		<td> <a href="../elements/589000e0-2f39-470e-a20c-170f606c82b3.html" target="element"> Email Address Types (GTVEMAL) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/e143725a-aef6-4d99-9bc3-c74dc5ce0efe.html" target="element">  </a> </td>
																		<td> <a href="../elements/e143725a-aef6-4d99-9bc3-c74dc5ce0efe.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/fd68f7be-e0ff-4fd1-abd3-ba34f5fd389b.html" target="element"> Phone Numbers (SPRTELE) </a> </td>
																		<td> <a href="../elements/9718bd53-1f97-4130-81f6-02ffc4c9d163.html" target="element"> Telephone Types (STVTELE) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/a34312fe-5f37-4acb-a441-86db9c8586d5.html" target="element">  </a> </td>
																		<td> <a href="../elements/a34312fe-5f37-4acb-a441-86db9c8586d5.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/17eb96cc-0944-4f4a-a0c5-7ca09dc26e89.html" target="element"> Emergency Contact (SPREMRG) </a> </td>
																		<td> <a href="../elements/9855f234-5338-4196-b0d5-c612dd99d825.html" target="element"> Identity (SPRIDEN) </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>