<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Organization Tree View - Provost</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Organization Tree View - Provost</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/ddd86e99-527b-4273-907c-c6df19f774ec.png" alt="Organization Tree View - Provost" usemap="#ddd86e99-527b-4273-907c-c6df19f774ecmap"/>
			   <map name="ddd86e99-527b-4273-907c-c6df19f774ecmap">
				  		<area shape="rect" coords="92,644,332,754" href="../elements/id-a23705c974554b6faba8930b38a5c443.html"  target="element">
				  		<area shape="rect" coords="1508,20,1748,130" href="../elements/id-d9d2682661e4446abe041a593d96cbf1.html"  target="element">
				  		<area shape="rect" coords="2204,788,2444,898" href="../elements/id-15a7e1510adb43209ae5a09e7bc33cf4.html"  target="element">
				  		<area shape="rect" coords="2204,644,2444,754" href="../elements/id-293be402176147848cdde56790124840.html"  target="element">
				  		<area shape="rect" coords="92,476,332,586" href="../elements/id-100d286d63d34d4d9b045b70426afd1c.html"  target="element">
				  		<area shape="rect" coords="20,1076,260,1186" href="../elements/id-bee9b253107e44f8a704da6301f8a8a1.html"  target="element">
				  		<area shape="rect" coords="2396,1076,2636,1186" href="../elements/id-33556f62b5ec41b49991121fb2a85db7.html"  target="element">
				  		<area shape="rect" coords="1124,20,1364,130" href="../views/b792de2a-f632-49cb-aae5-9ae6d9949cd4.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="2204,476,2444,586" href="../elements/21009882-473c-4138-bf96-0c211795a66a.html"  target="element">
				  		<area shape="rect" coords="92,332,332,442" href="../elements/4f1d347b-474c-4ca5-97ab-6e4e45ee8145.html"  target="element">
				  		<area shape="rect" coords="2204,188,2444,298" href="../elements/8a2d8a3c-e898-4d5c-821c-a9fa01dfb58a.html"  target="element">
				  		<area shape="rect" coords="2132,1076,2372,1186" href="../elements/3e76abba-f09b-4358-87fa-0786c7fca1e0.html"  target="element">
				  		<area shape="rect" coords="1868,1076,2108,1186" href="../elements/0be17fa2-75e0-43fc-9270-c1eb0f645463.html"  target="element">
				  		<area shape="rect" coords="1604,1076,1844,1186" href="../elements/443babb2-2751-45c4-ae01-e6c47f0af9e1.html"  target="element">
				  		<area shape="rect" coords="1340,1076,1580,1186" href="../elements/8fd6e6e3-8653-411d-82c9-93b90456237f.html"  target="element">
				  		<area shape="rect" coords="1076,1076,1316,1186" href="../elements/ccadf92f-ac37-4b95-b543-1e9f83e60411.html"  target="element">
				  		<area shape="rect" coords="92,188,332,298" href="../elements/a9ce0fcc-6dfb-4d86-9cfc-d392b3f79db8.html"  target="element">
				  		<area shape="rect" coords="812,1076,1052,1186" href="../elements/5dbfce4b-37b7-47a6-8c1e-86cbab084ea9.html"  target="element">
				  		<area shape="rect" coords="548,1076,788,1186" href="../elements/c8b54147-4265-4cde-ad76-e2c64ead44b8.html"  target="element">
				  		<area shape="rect" coords="2204,332,2444,442" href="../elements/c7ced3eb-199b-4312-b97e-62d27ae50d67.html"  target="element">
				  		<area shape="rect" coords="284,1076,524,1186" href="../elements/cba21caa-d863-494b-b762-b355836747de.html"  target="element">
				  		<area shape="rect" coords="1124,164,1364,274" href="../elements/832cddee-cf39-480c-bcbd-e4e8f1af26b4.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/832cddee-cf39-480c-bcbd-e4e8f1af26b4.html" target="element"> Provost's Office </a> </td>
											    <td> <a href="../elements/832cddee-cf39-480c-bcbd-e4e8f1af26b4.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/cba21caa-d863-494b-b762-b355836747de.html" target="element"> College of Engineering </a> </td>
											    <td> <a href="../elements/cba21caa-d863-494b-b762-b355836747de.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c7ced3eb-199b-4312-b97e-62d27ae50d67.html" target="element"> University Ombudsman </a> </td>
											    <td> <a href="../elements/c7ced3eb-199b-4312-b97e-62d27ae50d67.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c8b54147-4265-4cde-ad76-e2c64ead44b8.html" target="element"> Khoury College of Computer and Information Science </a> </td>
											    <td> <a href="../elements/c8b54147-4265-4cde-ad76-e2c64ead44b8.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5dbfce4b-37b7-47a6-8c1e-86cbab084ea9.html" target="element"> D'Amore McKim School of Business </a> </td>
											    <td> <a href="../elements/5dbfce4b-37b7-47a6-8c1e-86cbab084ea9.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a9ce0fcc-6dfb-4d86-9cfc-d392b3f79db8.html" target="element"> Academic Affairs </a> </td>
											    <td> <a href="../elements/a9ce0fcc-6dfb-4d86-9cfc-d392b3f79db8.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ccadf92f-ac37-4b95-b543-1e9f83e60411.html" target="element"> College of Science </a> </td>
											    <td> <a href="../elements/ccadf92f-ac37-4b95-b543-1e9f83e60411.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8fd6e6e3-8653-411d-82c9-93b90456237f.html" target="element"> College of Arts Media and Design </a> </td>
											    <td> <a href="../elements/8fd6e6e3-8653-411d-82c9-93b90456237f.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/443babb2-2751-45c4-ae01-e6c47f0af9e1.html" target="element"> College of Professional Studies </a> </td>
											    <td> <a href="../elements/443babb2-2751-45c4-ae01-e6c47f0af9e1.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0be17fa2-75e0-43fc-9270-c1eb0f645463.html" target="element"> Bouve College of Health Sciences </a> </td>
											    <td> <a href="../elements/0be17fa2-75e0-43fc-9270-c1eb0f645463.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3e76abba-f09b-4358-87fa-0786c7fca1e0.html" target="element"> School of Law </a> </td>
											    <td> <a href="../elements/3e76abba-f09b-4358-87fa-0786c7fca1e0.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8a2d8a3c-e898-4d5c-821c-a9fa01dfb58a.html" target="element"> Library and Information Collaboration </a> </td>
											    <td> <a href="../elements/8a2d8a3c-e898-4d5c-821c-a9fa01dfb58a.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4f1d347b-474c-4ca5-97ab-6e4e45ee8145.html" target="element"> Research and Innovation  </a> </td>
											    <td> <a href="../elements/4f1d347b-474c-4ca5-97ab-6e4e45ee8145.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/21009882-473c-4138-bf96-0c211795a66a.html" target="element"> Budget, Planning  and Administration </a> </td>
											    <td> <a href="../elements/21009882-473c-4138-bf96-0c211795a66a.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../views/b792de2a-f632-49cb-aae5-9ae6d9949cd4.html" target="view"> Organization Tree View </a> </td>
											    <td> <a href="../views/b792de2a-f632-49cb-aae5-9ae6d9949cd4.html" target="view" class="i18n-viewpoint-organization"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../elements/id-33556f62b5ec41b49991121fb2a85db7.html" target="element"> College of Social Science and Humanities </a> </td>
											    <td> <a href="../elements/id-33556f62b5ec41b49991121fb2a85db7.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bee9b253107e44f8a704da6301f8a8a1.html" target="element"> Mills College at Northeastern </a> </td>
											    <td> <a href="../elements/id-bee9b253107e44f8a704da6301f8a8a1.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-100d286d63d34d4d9b045b70426afd1c.html" target="element"> Faculty Affairs </a> </td>
											    <td> <a href="../elements/id-100d286d63d34d4d9b045b70426afd1c.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-293be402176147848cdde56790124840.html" target="element"> Mills Institute </a> </td>
											    <td> <a href="../elements/id-293be402176147848cdde56790124840.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-15a7e1510adb43209ae5a09e7bc33cf4.html" target="element"> PHD Network </a> </td>
											    <td> <a href="../elements/id-15a7e1510adb43209ae5a09e7bc33cf4.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d9d2682661e4446abe041a593d96cbf1.html" target="element"> Nahant Campus </a> </td>
											    <td> <a href="../elements/id-d9d2682661e4446abe041a593d96cbf1.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a23705c974554b6faba8930b38a5c443.html" target="element"> Executive Vice Provost - Academic Program Development </a> </td>
											    <td> <a href="../elements/id-a23705c974554b6faba8930b38a5c443.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/bcdd5188-7793-4e44-bec6-4bfb53e6fae3.html" target="element">  </a> </td>
																		<td> <a href="../elements/bcdd5188-7793-4e44-bec6-4bfb53e6fae3.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/832cddee-cf39-480c-bcbd-e4e8f1af26b4.html" target="element"> Provost's Office </a> </td>
																		<td> <a href="../elements/a9ce0fcc-6dfb-4d86-9cfc-d392b3f79db8.html" target="element"> Academic Affairs </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ee8edd90-f6b6-41dd-9ede-811191087262.html" target="element">  </a> </td>
																		<td> <a href="../elements/ee8edd90-f6b6-41dd-9ede-811191087262.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/832cddee-cf39-480c-bcbd-e4e8f1af26b4.html" target="element"> Provost's Office </a> </td>
																		<td> <a href="../elements/8a2d8a3c-e898-4d5c-821c-a9fa01dfb58a.html" target="element"> Library and Information Collaboration </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/89875c74-e8fb-4c88-bc53-52ade146252b.html" target="element">  </a> </td>
																		<td> <a href="../elements/89875c74-e8fb-4c88-bc53-52ade146252b.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/832cddee-cf39-480c-bcbd-e4e8f1af26b4.html" target="element"> Provost's Office </a> </td>
																		<td> <a href="../elements/c7ced3eb-199b-4312-b97e-62d27ae50d67.html" target="element"> University Ombudsman </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8dde695f-be3b-4a98-91ff-71a09960e46a.html" target="element">  </a> </td>
																		<td> <a href="../elements/8dde695f-be3b-4a98-91ff-71a09960e46a.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/832cddee-cf39-480c-bcbd-e4e8f1af26b4.html" target="element"> Provost's Office </a> </td>
																		<td> <a href="../elements/cba21caa-d863-494b-b762-b355836747de.html" target="element"> College of Engineering </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3e33cafb-e112-4827-a667-f2aa0fc35fa1.html" target="element">  </a> </td>
																		<td> <a href="../elements/3e33cafb-e112-4827-a667-f2aa0fc35fa1.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/832cddee-cf39-480c-bcbd-e4e8f1af26b4.html" target="element"> Provost's Office </a> </td>
																		<td> <a href="../elements/c8b54147-4265-4cde-ad76-e2c64ead44b8.html" target="element"> Khoury College of Computer and Information Science </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/03841d0b-4d03-43e1-8c61-de1e68ed653f.html" target="element">  </a> </td>
																		<td> <a href="../elements/03841d0b-4d03-43e1-8c61-de1e68ed653f.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/832cddee-cf39-480c-bcbd-e4e8f1af26b4.html" target="element"> Provost's Office </a> </td>
																		<td> <a href="../elements/5dbfce4b-37b7-47a6-8c1e-86cbab084ea9.html" target="element"> D'Amore McKim School of Business </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4a03226e-96a1-4fd9-a15c-54ac0c43fccc.html" target="element">  </a> </td>
																		<td> <a href="../elements/4a03226e-96a1-4fd9-a15c-54ac0c43fccc.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/832cddee-cf39-480c-bcbd-e4e8f1af26b4.html" target="element"> Provost's Office </a> </td>
																		<td> <a href="../elements/ccadf92f-ac37-4b95-b543-1e9f83e60411.html" target="element"> College of Science </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/41e580bb-ad2a-4a5b-b557-2e3d43377001.html" target="element">  </a> </td>
																		<td> <a href="../elements/41e580bb-ad2a-4a5b-b557-2e3d43377001.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/832cddee-cf39-480c-bcbd-e4e8f1af26b4.html" target="element"> Provost's Office </a> </td>
																		<td> <a href="../elements/8fd6e6e3-8653-411d-82c9-93b90456237f.html" target="element"> College of Arts Media and Design </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/fc354cff-2fbf-4200-a07b-aaa1e2842219.html" target="element">  </a> </td>
																		<td> <a href="../elements/fc354cff-2fbf-4200-a07b-aaa1e2842219.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/832cddee-cf39-480c-bcbd-e4e8f1af26b4.html" target="element"> Provost's Office </a> </td>
																		<td> <a href="../elements/443babb2-2751-45c4-ae01-e6c47f0af9e1.html" target="element"> College of Professional Studies </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/04ba2c13-3a85-4b76-ae85-96951c261889.html" target="element">  </a> </td>
																		<td> <a href="../elements/04ba2c13-3a85-4b76-ae85-96951c261889.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/832cddee-cf39-480c-bcbd-e4e8f1af26b4.html" target="element"> Provost's Office </a> </td>
																		<td> <a href="../elements/0be17fa2-75e0-43fc-9270-c1eb0f645463.html" target="element"> Bouve College of Health Sciences </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/081e44c7-6fd9-4d7d-971b-672325bfb4f2.html" target="element">  </a> </td>
																		<td> <a href="../elements/081e44c7-6fd9-4d7d-971b-672325bfb4f2.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/832cddee-cf39-480c-bcbd-e4e8f1af26b4.html" target="element"> Provost's Office </a> </td>
																		<td> <a href="../elements/3e76abba-f09b-4358-87fa-0786c7fca1e0.html" target="element"> School of Law </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6856ec56-eca9-4645-8233-4bff86b899d3.html" target="element">  </a> </td>
																		<td> <a href="../elements/6856ec56-eca9-4645-8233-4bff86b899d3.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/832cddee-cf39-480c-bcbd-e4e8f1af26b4.html" target="element"> Provost's Office </a> </td>
																		<td> <a href="../elements/4f1d347b-474c-4ca5-97ab-6e4e45ee8145.html" target="element"> Research and Innovation  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/66957bfa-f37e-4f15-957a-b655a2eafa34.html" target="element">  </a> </td>
																		<td> <a href="../elements/66957bfa-f37e-4f15-957a-b655a2eafa34.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/832cddee-cf39-480c-bcbd-e4e8f1af26b4.html" target="element"> Provost's Office </a> </td>
																		<td> <a href="../elements/21009882-473c-4138-bf96-0c211795a66a.html" target="element"> Budget, Planning  and Administration </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-66efaeffeb1b42efaaa215ba1a777e23.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-66efaeffeb1b42efaaa215ba1a777e23.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/832cddee-cf39-480c-bcbd-e4e8f1af26b4.html" target="element"> Provost's Office </a> </td>
																		<td> <a href="../elements/id-33556f62b5ec41b49991121fb2a85db7.html" target="element"> College of Social Science and Humanities </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fb4bc68fda634319bafeb1b683d5b79a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fb4bc68fda634319bafeb1b683d5b79a.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/832cddee-cf39-480c-bcbd-e4e8f1af26b4.html" target="element"> Provost's Office </a> </td>
																		<td> <a href="../elements/id-bee9b253107e44f8a704da6301f8a8a1.html" target="element"> Mills College at Northeastern </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f408f4ce551b4f9e8d15bc286b712744.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f408f4ce551b4f9e8d15bc286b712744.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/832cddee-cf39-480c-bcbd-e4e8f1af26b4.html" target="element"> Provost's Office </a> </td>
																		<td> <a href="../elements/id-100d286d63d34d4d9b045b70426afd1c.html" target="element"> Faculty Affairs </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-eace8384f4c8415cafc959ac664b7216.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-eace8384f4c8415cafc959ac664b7216.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/832cddee-cf39-480c-bcbd-e4e8f1af26b4.html" target="element"> Provost's Office </a> </td>
																		<td> <a href="../elements/id-293be402176147848cdde56790124840.html" target="element"> Mills Institute </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d521c3b2fe2f4518a31710e07b7b83b8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d521c3b2fe2f4518a31710e07b7b83b8.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/832cddee-cf39-480c-bcbd-e4e8f1af26b4.html" target="element"> Provost's Office </a> </td>
																		<td> <a href="../elements/id-15a7e1510adb43209ae5a09e7bc33cf4.html" target="element"> PHD Network </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-46df9127a67249cf94818d19a2779bd8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-46df9127a67249cf94818d19a2779bd8.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/832cddee-cf39-480c-bcbd-e4e8f1af26b4.html" target="element"> Provost's Office </a> </td>
																		<td> <a href="../elements/id-d9d2682661e4446abe041a593d96cbf1.html" target="element"> Nahant Campus </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6769128c2948486eabeecde12f15bfa0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6769128c2948486eabeecde12f15bfa0.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/832cddee-cf39-480c-bcbd-e4e8f1af26b4.html" target="element"> Provost's Office </a> </td>
																		<td> <a href="../elements/id-a23705c974554b6faba8930b38a5c443.html" target="element"> Executive Vice Provost - Academic Program Development </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>