<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Organization Tree View - Chancellor</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Organization Tree View - Chancellor</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/e8dc7861-a76e-4b68-a2ec-7d6f563924ec.png" alt="Organization Tree View - Chancellor" usemap="#e8dc7861-a76e-4b68-a2ec-7d6f563924ecmap"/>
			   <map name="e8dc7861-a76e-4b68-a2ec-7d6f563924ecmap">
				  		<area shape="rect" coords="1604,464,1844,574" href="../elements/id-9813e4dc949948ddae2d78c75ad55095.html"  target="element">
				  		<area shape="rect" coords="1868,464,2108,574" href="../elements/id-0def82c8f80941298a398760302d9ba5.html"  target="element">
				  		<area shape="rect" coords="1340,464,1580,574" href="../elements/id-b47c8035c15948149e12923193cffacd.html"  target="element">
				  		<area shape="rect" coords="812,464,1052,574" href="../elements/id-427052b92e514d8888620b80682e338f.html"  target="element">
				  		<area shape="rect" coords="932,20,1172,130" href="../views/b792de2a-f632-49cb-aae5-9ae6d9949cd4.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="1076,464,1316,574" href="../elements/b72df7db-b98b-41a0-906e-c895ff9fe343.html"  target="element">
				  		<area shape="rect" coords="284,464,524,574" href="../elements/04b9d43d-d6ba-45eb-9d04-f0c0359dea4a.html"  target="element">
				  		<area shape="rect" coords="548,464,788,574" href="../elements/f302e64a-c9a2-471b-b5b0-1405426a535e.html"  target="element">
				  		<area shape="rect" coords="20,464,260,574" href="../elements/1ba42dc6-0aaa-495d-a881-4634dce287ba.html"  target="element">
				  		<area shape="rect" coords="932,164,1172,274" href="../elements/351e65e5-01b4-4e3d-9264-cbecfcf90b90.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/351e65e5-01b4-4e3d-9264-cbecfcf90b90.html" target="element"> Chancellor's Office </a> </td>
											    <td> <a href="../elements/351e65e5-01b4-4e3d-9264-cbecfcf90b90.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1ba42dc6-0aaa-495d-a881-4634dce287ba.html" target="element"> Student Life </a> </td>
											    <td> <a href="../elements/1ba42dc6-0aaa-495d-a881-4634dce287ba.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f302e64a-c9a2-471b-b5b0-1405426a535e.html" target="element"> Finance Operations </a> </td>
											    <td> <a href="../elements/f302e64a-c9a2-471b-b5b0-1405426a535e.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/04b9d43d-d6ba-45eb-9d04-f0c0359dea4a.html" target="element"> Enrollment Management </a> </td>
											    <td> <a href="../elements/04b9d43d-d6ba-45eb-9d04-f0c0359dea4a.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b72df7db-b98b-41a0-906e-c895ff9fe343.html" target="element"> Athletics </a> </td>
											    <td> <a href="../elements/b72df7db-b98b-41a0-906e-c895ff9fe343.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../views/b792de2a-f632-49cb-aae5-9ae6d9949cd4.html" target="view"> Organization Tree View </a> </td>
											    <td> <a href="../views/b792de2a-f632-49cb-aae5-9ae6d9949cd4.html" target="view" class="i18n-viewpoint-organization"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../elements/id-427052b92e514d8888620b80682e338f.html" target="element"> Education Innovation </a> </td>
											    <td> <a href="../elements/id-427052b92e514d8888620b80682e338f.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b47c8035c15948149e12923193cffacd.html" target="element"> Organization Effectiveness </a> </td>
											    <td> <a href="../elements/id-b47c8035c15948149e12923193cffacd.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0def82c8f80941298a398760302d9ba5.html" target="element"> Strategic Partnerships </a> </td>
											    <td> <a href="../elements/id-0def82c8f80941298a398760302d9ba5.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9813e4dc949948ddae2d78c75ad55095.html" target="element"> Roux Institute (Portland Maine) </a> </td>
											    <td> <a href="../elements/id-9813e4dc949948ddae2d78c75ad55095.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/f3bb9d3e-4423-4b34-8bc0-4d392264622b.html" target="element">  </a> </td>
																		<td> <a href="../elements/f3bb9d3e-4423-4b34-8bc0-4d392264622b.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/351e65e5-01b4-4e3d-9264-cbecfcf90b90.html" target="element"> Chancellor's Office </a> </td>
																		<td> <a href="../elements/1ba42dc6-0aaa-495d-a881-4634dce287ba.html" target="element"> Student Life </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2bb62c0c-cbee-4652-8dea-768c14cff622.html" target="element">  </a> </td>
																		<td> <a href="../elements/2bb62c0c-cbee-4652-8dea-768c14cff622.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/351e65e5-01b4-4e3d-9264-cbecfcf90b90.html" target="element"> Chancellor's Office </a> </td>
																		<td> <a href="../elements/04b9d43d-d6ba-45eb-9d04-f0c0359dea4a.html" target="element"> Enrollment Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/11be3389-08e4-44f4-84d1-2edbdc2d4f4a.html" target="element">  </a> </td>
																		<td> <a href="../elements/11be3389-08e4-44f4-84d1-2edbdc2d4f4a.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/351e65e5-01b4-4e3d-9264-cbecfcf90b90.html" target="element"> Chancellor's Office </a> </td>
																		<td> <a href="../elements/f302e64a-c9a2-471b-b5b0-1405426a535e.html" target="element"> Finance Operations </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/475fa412-a963-4a7f-8a61-52002819d25a.html" target="element">  </a> </td>
																		<td> <a href="../elements/475fa412-a963-4a7f-8a61-52002819d25a.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/351e65e5-01b4-4e3d-9264-cbecfcf90b90.html" target="element"> Chancellor's Office </a> </td>
																		<td> <a href="../elements/b72df7db-b98b-41a0-906e-c895ff9fe343.html" target="element"> Athletics </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ab234768461542a5b326ba6e273f37a2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ab234768461542a5b326ba6e273f37a2.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/351e65e5-01b4-4e3d-9264-cbecfcf90b90.html" target="element"> Chancellor's Office </a> </td>
																		<td> <a href="../elements/id-b47c8035c15948149e12923193cffacd.html" target="element"> Organization Effectiveness </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c9827469a8e94ae2b32dca61d6c17105.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c9827469a8e94ae2b32dca61d6c17105.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/351e65e5-01b4-4e3d-9264-cbecfcf90b90.html" target="element"> Chancellor's Office </a> </td>
																		<td> <a href="../elements/id-427052b92e514d8888620b80682e338f.html" target="element"> Education Innovation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-10f7145a256a43869aeb8d0690cf76c3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-10f7145a256a43869aeb8d0690cf76c3.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/351e65e5-01b4-4e3d-9264-cbecfcf90b90.html" target="element"> Chancellor's Office </a> </td>
																		<td> <a href="../elements/id-9813e4dc949948ddae2d78c75ad55095.html" target="element"> Roux Institute (Portland Maine) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f6ec99d2bb0542ec9402701aac7528c2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f6ec99d2bb0542ec9402701aac7528c2.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/351e65e5-01b4-4e3d-9264-cbecfcf90b90.html" target="element"> Chancellor's Office </a> </td>
																		<td> <a href="../elements/id-0def82c8f80941298a398760302d9ba5.html" target="element"> Strategic Partnerships </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>