<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Organization Tree View - GNSI</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Organization Tree View - GNSI</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-c60e436d37874e89b9546549e155b626.png" alt="Organization Tree View - GNSI" usemap="#id-c60e436d37874e89b9546549e155b626map"/>
			   <map name="id-c60e436d37874e89b9546549e155b626map">
				  		<area shape="rect" coords="2012,644,2252,754" href="../elements/id-5d3e496765a44a8bb39e2bbd60217af7.html"  target="element">
				  		<area shape="rect" coords="1748,644,1988,754" href="../elements/id-7c00b17bf0a441bbbf335e8747ed2275.html"  target="element">
				  		<area shape="rect" coords="1460,644,1700,754" href="../elements/f053477b-3c25-4c4a-ab71-f78346511a8c.html"  target="element">
				  		<area shape="rect" coords="1172,644,1412,754" href="../elements/f95804db-ec70-4647-ae9d-bf1c00817f3b.html"  target="element">
				  		<area shape="rect" coords="884,644,1124,754" href="../elements/id-bee9b253107e44f8a704da6301f8a8a1.html"  target="element">
				  		<area shape="rect" coords="596,644,836,754" href="../elements/id-c17f5a1c83b5413c985d9ff909ab7e15.html"  target="element">
				  		<area shape="rect" coords="1532,188,1772,298" href="../elements/488d701f-460d-47ef-9fa6-49b601db1faf.html"  target="element">
				  		<area shape="rect" coords="308,644,548,754" href="../elements/c4591578-2e8f-4ab6-afda-b80a49445c69.html"  target="element">
				  		<area shape="rect" coords="20,644,260,754" href="../elements/id-a3efcf5f6fc2493e949828ad1ab2b063.html"  target="element">
				  		<area shape="rect" coords="1004,188,1244,298" href="../elements/id-478656d960bf4a0bbfb666eff47770b1.html"  target="element">
				  		<area shape="rect" coords="1004,20,1244,130" href="../views/b792de2a-f632-49cb-aae5-9ae6d9949cd4.html"  target="view">
				      <!-- Other diagram objects -->

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../views/b792de2a-f632-49cb-aae5-9ae6d9949cd4.html" target="view"> Organization Tree View </a> </td>
											    <td> <a href="../views/b792de2a-f632-49cb-aae5-9ae6d9949cd4.html" target="view" class="i18n-viewpoint-organization"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->

											<tr>
											    <td> <a href="../elements/id-478656d960bf4a0bbfb666eff47770b1.html" target="element"> Global Network and Strategic Initiatives </a> </td>
											    <td> <a href="../elements/id-478656d960bf4a0bbfb666eff47770b1.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a3efcf5f6fc2493e949828ad1ab2b063.html" target="element"> Arlington Campus </a> </td>
											    <td> <a href="../elements/id-a3efcf5f6fc2493e949828ad1ab2b063.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c4591578-2e8f-4ab6-afda-b80a49445c69.html" target="element"> Charlotte Campus </a> </td>
											    <td> <a href="../elements/c4591578-2e8f-4ab6-afda-b80a49445c69.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/488d701f-460d-47ef-9fa6-49b601db1faf.html" target="element"> Information Technology Services </a> </td>
											    <td> <a href="../elements/488d701f-460d-47ef-9fa6-49b601db1faf.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c17f5a1c83b5413c985d9ff909ab7e15.html" target="element"> Miami Campus </a> </td>
											    <td> <a href="../elements/id-c17f5a1c83b5413c985d9ff909ab7e15.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bee9b253107e44f8a704da6301f8a8a1.html" target="element"> Mills College at Northeastern </a> </td>
											    <td> <a href="../elements/id-bee9b253107e44f8a704da6301f8a8a1.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f95804db-ec70-4647-ae9d-bf1c00817f3b.html" target="element"> Seattle Campus </a> </td>
											    <td> <a href="../elements/f95804db-ec70-4647-ae9d-bf1c00817f3b.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f053477b-3c25-4c4a-ab71-f78346511a8c.html" target="element"> Toronto Campus </a> </td>
											    <td> <a href="../elements/f053477b-3c25-4c4a-ab71-f78346511a8c.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7c00b17bf0a441bbbf335e8747ed2275.html" target="element"> Vancouver Campus </a> </td>
											    <td> <a href="../elements/id-7c00b17bf0a441bbbf335e8747ed2275.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5d3e496765a44a8bb39e2bbd60217af7.html" target="element"> NU London Campus </a> </td>
											    <td> <a href="../elements/id-5d3e496765a44a8bb39e2bbd60217af7.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
																	<tr>
																		<td> <a href="../elements/id-d61f8409727c404e90ebcf7c8f8490f5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d61f8409727c404e90ebcf7c8f8490f5.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-478656d960bf4a0bbfb666eff47770b1.html" target="element"> Global Network and Strategic Initiatives </a> </td>
																		<td> <a href="../elements/id-bee9b253107e44f8a704da6301f8a8a1.html" target="element"> Mills College at Northeastern </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0a058720a0d04ab99c073f1b5964390f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0a058720a0d04ab99c073f1b5964390f.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-478656d960bf4a0bbfb666eff47770b1.html" target="element"> Global Network and Strategic Initiatives </a> </td>
																		<td> <a href="../elements/id-a3efcf5f6fc2493e949828ad1ab2b063.html" target="element"> Arlington Campus </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-512f2994bc8645cc90c7ce250a6aff2a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-512f2994bc8645cc90c7ce250a6aff2a.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-478656d960bf4a0bbfb666eff47770b1.html" target="element"> Global Network and Strategic Initiatives </a> </td>
																		<td> <a href="../elements/c4591578-2e8f-4ab6-afda-b80a49445c69.html" target="element"> Charlotte Campus </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bc291317c33249cebcafec762dcc3090.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bc291317c33249cebcafec762dcc3090.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-478656d960bf4a0bbfb666eff47770b1.html" target="element"> Global Network and Strategic Initiatives </a> </td>
																		<td> <a href="../elements/id-c17f5a1c83b5413c985d9ff909ab7e15.html" target="element"> Miami Campus </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-279a2b3c2e5f4f998b7152fb8db9996a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-279a2b3c2e5f4f998b7152fb8db9996a.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-478656d960bf4a0bbfb666eff47770b1.html" target="element"> Global Network and Strategic Initiatives </a> </td>
																		<td> <a href="../elements/f95804db-ec70-4647-ae9d-bf1c00817f3b.html" target="element"> Seattle Campus </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-702eddeecfe043b781dbec31e4e30d71.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-702eddeecfe043b781dbec31e4e30d71.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-478656d960bf4a0bbfb666eff47770b1.html" target="element"> Global Network and Strategic Initiatives </a> </td>
																		<td> <a href="../elements/f053477b-3c25-4c4a-ab71-f78346511a8c.html" target="element"> Toronto Campus </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-089ee3f81b7d4275a9170a9c5d87bf2d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-089ee3f81b7d4275a9170a9c5d87bf2d.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-478656d960bf4a0bbfb666eff47770b1.html" target="element"> Global Network and Strategic Initiatives </a> </td>
																		<td> <a href="../elements/id-7c00b17bf0a441bbbf335e8747ed2275.html" target="element"> Vancouver Campus </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-44f0d447d20b4388bac91ca4a776b535.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-44f0d447d20b4388bac91ca4a776b535.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-478656d960bf4a0bbfb666eff47770b1.html" target="element"> Global Network and Strategic Initiatives </a> </td>
																		<td> <a href="../elements/488d701f-460d-47ef-9fa6-49b601db1faf.html" target="element"> Information Technology Services </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cd9d7bad865b4229b048c588c72c8cdc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cd9d7bad865b4229b048c588c72c8cdc.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-478656d960bf4a0bbfb666eff47770b1.html" target="element"> Global Network and Strategic Initiatives </a> </td>
																		<td> <a href="../elements/id-5d3e496765a44a8bb39e2bbd60217af7.html" target="element"> NU London Campus </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>